# =========================
# GOOGLE STREETVIEW API KEY
# =========================
#
# Who Owns What uses Google StreetView API to render static and dynamic 
# street views in various parts of the app. 
# 
# By default our production API key is in the `.env` file, but you
# can provide your own by signing up for an account on the
# Google Maps Platform:
#
#   https://developers.google.com/maps/documentation/streetview/get-api-key
#
# After creating an account, write in your StreetView API key below and
# uncomment the line:

# REACT_APP_STREETVIEW_API_KEY=

# =========================
# ROLLBAR ACCESS TOKEN (OPTIONAL)
# =========================
#
# We also use RollBar as a platform for flagging errors in production.
# 
# You can sign up for Rollbar integration through Heroku (if you are using that for deployment),
# or you can take a look at their documentation:
#
#   https://docs.rollbar.com/reference
#
# After creating an account, write in your RollBar Access Token below:

REACT_APP_ROLLBAR_ACCESS_TOKEN=

# =========================
# PUBLIC-FACING INTERNATIONALIZATION FEATURE FLAG
# =========================
#
# Set this to a non-empty value to actively "promote" locales other
# than English to users.

REACT_APP_ENABLE_PUBLIC_FACING_I18N=

# =========================
# CONTENTFUL INTEGRATION (OPTIONAL)
# =========================
#
# Set these to enable pulling long-form rich-text content for some
# pages directly from Contentful. If not provided, we'll use data
# cached in the repository.

CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=
