// Steps
.step {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0.31rem 0;
  width: 100%;

  .step-item {
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1.25rem;
    text-align: center;
    position: relative;

    &:not(:first-child)::before {
      background: $primary-color;
      content: "";
      height: 0.13rem;
      left: -50%;
      position: absolute;
      top: 0.56rem;
      width: 100%;
    }

    a {
      color: $gray-color;
      display: inline-block;
      padding: 1.25rem 0.63rem 0;
      text-decoration: none;

      &::before {
        background: $primary-color;
        border: 2px solid $light-color;
        border-radius: 50%;
        content: "";
        display: block;
        height: 0.75rem;
        left: 50%;
        position: absolute;
        top: 0.25rem;
        transform: translateX(-50%);
        width: 0.75rem;
        z-index: $zindex-0;
      }
    }

    &.active {
      a {
        &::before {
          background: $light-color;
          border: 2px solid $primary-color;
        }
      }

      & ~ .step-item {
        &::before {
          background: $border-color;
        }

        a {
          &::before {
            background: $gray-color-light;
          }
        }
      }
    }
  }
}
