// Tooltips
.tooltip {
  position: relative;
  &::after {
    background: fade-in($dark-color, 0.9);
    border-radius: $border-radius;
    bottom: 100%;
    color: $light-color;
    content: attr(data-tooltip);
    display: block;
    font-size: $font-size-sm;
    left: 50%;
    max-width: 20rem;
    opacity: 0;
    overflow: hidden;
    padding: 0.25rem 0.5rem;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    transform: translate(-50%, 0.63rem);
    transition: all 0.2s ease;
    white-space: nowrap;
    z-index: $zindex-2;
  }
  &:focus,
  &:hover {
    &::after {
      opacity: 1;
      transform: translate(-50%, -0.31rem);
    }
  }
  &[disabled],
  &.disabled {
    pointer-events: auto;
  }

  &.tooltip-right {
    &::after {
      bottom: 50%;
      left: 100%;
      transform: translate(-0.63rem, 50%);
    }
    &:focus,
    &:hover {
      &::after {
        transform: translate(0.31rem, 50%);
      }
    }
  }
  &.tooltip-bottom {
    &::after {
      bottom: auto;
      top: 100%;
      transform: translate(-50%, -0.63rem);
    }
    &:focus,
    &:hover {
      &::after {
        transform: translate(-50%, 0.31rem);
      }
    }
  }
  &.tooltip-left {
    &::after {
      bottom: 50%;
      left: auto;
      right: 100%;
      transform: translate(0.63rem, 50%);
    }
    &:focus,
    &:hover {
      &::after {
        transform: translate(-0.31rem, 50%);
      }
    }
  }
}
