version: "2"
services:
  app:
    extends:
      file: docker-services.yml
      service: base_app
    ports:
      - 8000:8000
    links:
      - db
    command: python manage.py runserver 0.0.0.0:8000
  client:
    extends:
      file: docker-services.yml
      service: base_app
    working_dir: /wow/client
    ports:
      - 3000:3000
    environment:
      - REACT_APP_API_BASE_URL=http://localhost:8000

    # https://github.com/facebook/create-react-app/issues/8688#issuecomment-602110747
    stdin_open: true

    command: yarn start
  db:
    image: postgres:9.6
    environment:
      - POSTGRES_USER=wow
      - POSTGRES_DB=wow
      - POSTGRES_PASSWORD=wow
volumes:
  client-node-modules:
  yarn-cache:
