-r requirements.txt
https://github.com/nycdb/nycdb/archive/fc7fa7a4bd1fb33a50fbc189992878761182ab13.zip#subdirectory=src
mypy==0.782
PyYAML>=5.1
pytest==6.2.5
pytest-django==4.2.0
python-dotenv==0.9.1
flake8==3.8.3
networkx==3.2.1
freezegun==1.1.0
black==22.3.0
python-geosupport==1.0.8