@import "_vars.scss";
@import "_typography.scss";

@mixin button() {
  border: 1px solid $dark;
  background-color: $background;
  box-shadow: inset -1px -1px 0px 0px $gray, inset 2px 2px 0px 0px #fff;
  transition: none;

  &:hover {
    color: #454d5d;
    background-color: darken($background, 5%);
    box-shadow: inset -1px -1px 0px 0px darken($gray, 5%), inset 2px 2px 0px 0px darken(#fff, 5%);
  }

  &:active {
    color: #fff;
    background-color: darken($gray-light, 40%);
    box-shadow: inset 1px 1px 0px 0px darken($gray, 35%);
  }
}

@mixin button-special($background-color, $text-color) {
  color: $text-color;
  background-color: $background-color;
  box-shadow: inset -1px -1px 0px 0px darken($background-color, 10%),
    inset 2px 2px 0px 0px lighten($background-color, 5%);

  &:hover {
    color: $text-color;
    background-color: darken($background-color, 5%);
    // box-shadow: inset -1px -1px 0px 0px darken($dark, 10%),
    //             inset 2px 2px 0px 0px $gray-dark;

    box-shadow: inset -1px -1px 0px 0px darken($background-color, 15%),
      inset 2px 2px 0px 0px $background-color;
  }

  &:active,
  &:focus {
    color: $text-color;
    background-color: darken($background-color, 10%);
    box-shadow: inset 1px 1px 0px 0px darken($background-color, 20%);
  }
}

.btn:not(.btn-link) {
  @include button();

  padding: 0.44rem 0.5rem;
  height: auto;
}

.card-body-links {
  .btn:not(.btn-link) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.btn.btn-primary {
  background-color: $gray-dark;
  box-shadow: inset -1px -1px 0px 0px $dark, inset 2px 2px 0px 0px lighten($gray-dark, 10%);

  &:hover {
    color: #fff;
    background-color: darken($gray-dark, 15%);
    box-shadow: inset -1px -1px 0px 0px darken($dark, 10%), inset 2px 2px 0px 0px $gray-dark;
  }

  &:active {
    color: #fff;
    background-color: darken($gray-dark, 15%);
    box-shadow: inset 1px 1px 0px 0px darken($dark, 20%);
  }
}

.btn.btn-justfix {
  @include button-special($justfix-blue, #fff);
}

.btns-social {
  .btn {
    &:nth-child(1) {
      @include button-special($facebook, #fff);
    }
    &:nth-child(2) {
      @include button-special($twitter, #fff);
    }

    margin-bottom: 0;

    span {
      display: none;
      margin-left: 5px;

      // 1260px is the breaking point where the social btn text is too large to fit
      @media screen and (min-width: 1260px) {
        display: inline;
      }
    }
  }

  .btn.btn-steps {
    flex: 1 0 0;
  }
}

.btn-group.btn-group-block {
  display: -ms-flexbox;
  display: flex;
}
.btn-group {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.btn-block {
  max-width: none;
}

.icon-mail:before {
  border-radius: 1px;
}

// WHO ARE OUR USERS SURVEY BUTTON
.waou-survey-button {
  flex: 1;
  padding: $spacing-04 $spacing-06;
  text-align: center;
  color: $justfix-black;
  background-color: $justfix-pink;
  height: 2.5rem;
}

.waou-survey-button:hover,
.waou-survey-button:active,
.waou-survey-button:focus {
  opacity: 0.7;
}

// Copied/adapted from https://github.com/JustFixNYC/justfix-website/blob/master/src/styles/_design-system.scss
// NOTE: wow using root 10px, org-site uses 16px. All rem units here have been adjusted

@mixin button-variant($color: $justfix-black) {
  background-color: $color;

  @include mobile-eyebrow();

  @if $color ==$justfix-white {
    color: $justfix-black;
    border: 1px solid $justfix-black;
  } @else {
    color: $justfix-white;
    border: 1px solid $justfix-white;
  }

  $button-shadow: #d4d5d0;
  border-radius: 6.25rem;
  padding: 1rem 2rem;
  width: fit-content;
  height: fit-content;
  display: inline-block;
  flex: none;
  box-shadow: 0.25rem 0.25rem 0rem $button-shadow;
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word;
  text-decoration: none;

  transition: all 0.1s linear;
  transform: translateX(0rem);

  &:focus,
  &:focus-visible,
  &:hover {
    border-color: initial;
    background-color: $color;
  }

  &:hover {
    transition: all 0.1s linear;
    box-shadow: 0rem 0.25rem 0rem 0rem $button-shadow;
    transform: translateX(0.44rem);
  }

  &:focus-visible {
    box-shadow: none;
    outline: 2px solid $focus-outline-color;
    outline-offset: 2px;
  }

  &:active,
  &.active {
    @if $color == $justfix-white {
      color: $justfix-black;
    } @else {
      color: $justfix-white;
    }

    border-style: solid;
    background-color: $color;
    box-shadow: 0rem -0.25rem 0rem 0rem $button-shadow;
  }

  &:disabled {
    background-color: $justfix-grey-600;
    border: 1px solid $justfix-white;
    border-radius: 6.25rem;
    box-shadow: none;
  }
}

.button.is-primary,
.button.is-primary:not(.is-outlined) {
  @include button-variant($justfix-black);
}

.button.is-secondary,
.button.is-secondary:not(.is-outlined) {
  @include button-variant($justfix-white);
}

.button.is-full-width,
.button.is-full-width:not(.is-outlined) {
  width: 100%;
}

.button.is-text {
  padding: 0;
  color: $justfix-black;
  display: flex; // needed for IOS issue with hidden underline position under
  text-decoration: underline;
  text-underline-position: under;
  &:focus,
  &:focus-visible {
    outline: 0.13rem solid $justfix-grey;
    outline-offset: 0.13rem;
  }
}

.buttons.has-addons {
  width: fit-content;
  border-radius: 0.25rem;
  border: 1px solid $justfix-white;

  .button {
    margin: 0;
    text-decoration: none;
    background-color: $justfix-black;
    color: $justfix-white;

    &:focus,
    &:focus-visible,
    &:hover,
    &.is-selected {
      background-color: $justfix-white;
      color: $justfix-black;
      transition: all 0.1s linear;
    }

    &.is-selected {
      pointer-events: none;
    }
  }
}
