@import "_vars.scss";

.MapBanner {
  display: flex;
  position: relative;
  min-height: 5.4rem;
  padding: 0.5rem 1.7rem 0.5rem 4.2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  font-family: "Inconsolata", monospace;
  font-size: 1.4rem;

  .MapBanner__message {
    margin-right: auto;
    padding-right: 1rem;
    button {
      text-decoration: underline;
      text-align: left;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.BigPortfolioBanner {
  background-color: $justfix-orange;
  color: $justfix-black;
  .CloseIcon {
    stroke: $justfix-black;
  }
}

.MapFilterBanner {
  background-color: $justfix-black;
  color: $justfix-white;
  border: 0.1rem solid $justfix-white;
  .CloseIcon {
    stroke: $justfix-white;
  }
  &::before {
    content: "";
    background-color: $justfix-green;
    width: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
}
