@import "_vars";
@import "_typography";
@import "_button.scss";

.minmax-container {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  gap: 1.2rem;
  input {
    font-size: 1.6rem;
  }
  .label-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    .labels-container {
      display: flex;
      color: $justfix-grey-600;
      font-size: 1.2rem;
      label:first-child {
        margin-right: auto;
      }
    }
    .inputs-container {
      display: flex;
      gap: 1rem;
      align-items: center;
      color: $justfix-grey-600;
      input {
        background-color: $justfix-white;
        width: 4.4rem;
        height: 4.4rem;
        border: 0.1rem solid $justfix-grey-600;
        border-radius: 0.2rem;
        padding: 0.5rem;
        appearance: textfield;
        // remove increment arrows
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        &:focus-visible {
          outline: none;
        }
        &.hasError {
          outline: 0.3rem solid $justfix-orange;
        }
      }
    }
  }
  .button.is-primary {
    align-self: center;
    letter-spacing: 0.02em;
  }
}
