$primary: #5764c6;
$secondary: #eff1fa;
$dark: #454d5d;
$gray-dark: #727e96;
$gray: #acb3c2;
$gray-light: #e7e9ed;
$border: #f0f1f4;
$background: #f8f9fa;
$light: #fff;
$success: #32b643;
$warning: #ffb700;
$error: #e85600;
