@import "node_modules/spectre.scss/src/_variables.scss";

$primary: #5764c6;
$secondary: #eff1fa;
$dark: #454d5d;
$gray-dark: #727e96;
$gray: #acb3c2;
$gray-light: #e7e9ed;
$border: #f0f1f4;
$background: #f8f9fa;
$light: #fff;
$success: #32b643;
$warning: #ffb700;
$error: #e85600;

$justfix-blue: #0096d7;

$facebook: #3b5998;
$twitter: #55acee;

$primary-color: $dark;
$primary-color-dark: darken($primary-color, 3%);
$primary-color-light: lighten($primary-color, 3%);
$secondary-color: lighten($primary-color, 40%);
$secondary-color-dark: darken($secondary-color, 3%);
$secondary-color-light: lighten($secondary-color, 3%);

$link-color: $primary-color;
$link-color-dark: darken($link-color, 10%);

$search-marker: #FF5722;
$assoc-marker: #FF9800;

$border-radius: 0;

// $retro-1: #d5cec4;
// $retro-2: #aca091;
// $retro-3: #8e7c65;
$retro-1: #dbd0bd;
$retro-2: #9b9486;
$retro-3: #5c574f;
$retro-4: #4f4b44;
$retro-5: #35332e;

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 899px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
