@import "_vars.scss";
@import "_typography.scss";

.AccountSettingsPage.Page {
  h4 {
    text-decoration: none;
    text-align: left !important;
    font-weight: 700;
    padding-top: 0.5rem;
    margin: 5.5rem 1.6rem 2.6rem;
  }

  h4.settings-section {
    font-weight: 400;
    border-top: 1px solid $justfix-grey-400;
  }

  label {
    font-size: 1.3rem;
    font-weight: 600;
  }

  p {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .settings-contact {
    margin: 6rem 2rem 5rem;
    text-align: center;
  }

  .settings-no-subscriptions {
    padding: 1.6rem;
    background-color: $justfix-grey-light;
    border-radius: 4px;
  }
}

.UserSetting {
  form {
    display: flex;
    flex-direction: column;
    margin: 3.2rem 1.6rem;
  }

  form > div {
    display: flex;

    span {
      flex: 1;
    }
  }

  .link-button {
    text-decoration: underline;
  }

  .user-setting-actions {
    display: flex;
    justify-content: right;
    margin-top: 1.6rem;

    @include for-phone-only() {
      justify-content: center;
    }

    input[type="submit"] {
      margin: 0 1.6rem 0 0 !important;
      padding: 1.6rem 3.2rem;
    }

    .button.is-secondary {
      padding: 1.6rem 3.2rem;
    }
  }

  label {
    @include desktop-eyebrow();
    margin-bottom: 1.6rem;
  }
}
