@import "_vars.scss";

details.Accordion {
  padding: 1.6rem 1.6rem 1.6rem 0.8rem;

  &[open] summary .icon {
    transition: transform 0.2s linear;
    transform: rotateX(180deg) translateY(-3px);
  }

  &:not([open]) summary .icon {
    transition: transform 0.2s linear;
    transform: rotateX(0deg) translateY(0px);
  }

  summary {
    margin-bottom: 1.8rem;
    // Make question box feel clickable to user
    cursor: pointer;
    // Remove default marker
    list-style-type: none;
    .icon {
      width: 11.3px;
      margin-top: 2px;
    }
  }
}
