@import "_vars.scss";
@import "_typography.scss";
@import "_callout.scss";

.AccountSettingsPage {
  h4 {
    text-decoration: none;
    text-align: left !important;
    font-weight: 700;
    padding-top: 0.37rem;
    margin: 3.5rem 1rem 1.63rem;
  }

  h4.settings-section {
    font-weight: 400;
    border-top: 1px solid $justfix-grey-400;
  }

  label {
    font-size: 0.81rem;
    font-weight: 600;
  }

  p {
    font-size: 0.81rem;
    font-weight: 500;
  }

  .settings-contact {
    margin: 3.75rem 1.25rem 3.13rem;
    text-align: center;
  }

  .settings-no-subscriptions {
    padding: 1rem;
    background-color: $justfix-grey-50;
    border-radius: 4px;
    margin: auto 1rem;
  }
}

.UserSetting {
  form {
    display: flex;
    flex-direction: column;
    margin: 1.625rem 1rem;

    .page-level-alert {
      margin-bottom: 1.625rem;
      svg {
        margin-right: 0.5rem;
        vertical-align: bottom;
      }
    }

    .user-setting-label {
      @include desktop-eyebrow();
      // vars marked !important bc typography mixin is not available for inconsolata
      font-weight: 600 !important;
      font-family: $wow-font !important;
      font-size: 0.875rem !important;
      text-transform: none !important;
      text-align: left;
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 0.375rem;
    }

    .email-input-field,
    .password-input-field {
      display: flex;
      flex-direction: column;
      &:has(#new-password-input) {
        margin-top: 1.25rem;
      }
    }

    .jf-callout {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      .button.is-text {
        width: fit-content;
      }
    }
  }

  form > div {
    display: flex;

    span {
      flex: 1;
    }
    span,
    .edit-button {
      font-size: 1rem;
    }
  }

  .user-setting-actions {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;

    @include for-phone-only() {
      justify-content: center;
    }

    input[type="submit"] {
      margin: 0 3rem 0 0 !important;
    }

    .button.is-text {
      @include body-standard;
      font-size: 1.125rem;
      font-weight: 500;
      text-decoration: none;
    }
  }
}
