@import "_vars.scss";

.AddressToolbar {
  @include for-phone-only() {
    display: none;
  }

  .btn-group {
    flex-wrap: nowrap;
    min-width: 190px;
    padding-left: 8px;
  }

  ul.menu {
    border: 1px solid $gray-dark;
    padding: 0;
    width: 24rem;
    right: 0;
    left: inherit;
    list-style: disc inside none;

    li {
      margin-top: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;

      a {
        text-decoration: none;
      }

      &:hover {
        background-color: $primary-color;
        color: #fff;
        cursor: pointer;

        a {
          color: #fff;
        }
      }
    }
  }
}
