@import "_vars.scss";
@import "_tabs.scss";
@import "_scrollbar.scss";

.AddressPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  .AddressPage__info {
    width: 100%;
    padding: 15px 15px 0 15px;
    background-color: $background;
    display: flex;
    justify-content: space-between;

    p.small {
      margin-bottom: 0;
    }

    h1 {
      margin-bottom: 0;
      font-size: 1.25rem;

      &.primary {
        line-height: 20px;
        margin-bottom: 20px;

        @include for-phone-only() {
          font-size: 1.13rem;
        }

        a {
          color: inherit;
          text-decoration: underline;
        }

        a:hover,
        a:focus {
          text-decoration: none !important;
        }
      }
    }

    h1 + p {
      line-height: 1;
      color: $gray-dark;
      margin-bottom: 15px;
    }

    @include tabs();
  }

  .AddressPage__content {
    flex: 1;
    overflow: hidden;

    border-top: 1px solid $gray-dark;

    &:not(.AddressPage__content-active) {
      display: none;
    }

    // Make content of page extend a bit beyond the edge of the viewport
    .Page__content {
      min-height: calc(100vh - 150px);
    }
  }

  .AddressPage__viz {
    display: flex;
    align-items: stretch;
    position: relative;
    border-bottom: 1px solid $gray-dark;
    width: 100%;
  }

  .AddressPage__summary {
    overflow-y: scroll;
    @include scrollbar();
  }
}

.wowza-styling .AddressPage {
  .AddressPage__info,
  .AddressPage__content,
  .DetailView,
  .card,
  .PropertiesSummary__linksTitle,
  .NotRegisteredPage {
    color: $wowza-dark;
    background-color: $wowza-background;
    border-color: $wowza-dark;
  }
  .text-dark {
    color: $wowza-dark;
  }
}
