@import '_vars.scss';

.AddressPage {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
}

.AddressPage__info {
  width: 95vw;
  margin: 0 auto;

  h5 {
    margin-bottom: 0;

    &.primary {
      margin-bottom: 15px;
    }
  }

  ul.menu {
    border: 1px solid $gray-dark;
    padding: 0;
    width: 22rem;
    right: 0;
    left: inherit;

    li {
      margin-top: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;

      &:hover {
        background-color: $primary-color;
        color: #fff;
        cursor: pointer;

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
