@import '_vars.scss';

.App {

  height: 100%;
  display: flex;
  flex-direction: column;

  & > div {
    box-sizing: border-box;
  }
}

.App__warning {
  padding: 30px 15px 15px 15px;
  background-color: $dark;
  color: #fff;
  text-align: center;

  a {
    color: #fff;
  }
}

.App__header {
  padding: 15px;
  border-bottom: 1px solid $gray-light;
  background-color: $background;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  & > a,a:hover,a:focus {
    text-decoration: none !important;
  }

  & > a {
    display: block;

    h4 {
      margin-bottom: 0;
      color: $dark;
      font-weight: bold;
      font-size: 2rem;
    }

    @include for-tablet-portrait-up() {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h4 {
        font-size: 2.4rem;
      }
    };

  }


  nav {
    margin-left: auto;

  @include for-tablet-landscape-down {
    width: 140px;
    display: flex;
    flex-wrap: wrap;
  }

    a {
      margin-left: 10px;
      color: #454d5d;

      &.active { text-decoration: underline; }
    }
  }

}

.App__body {
  // height: 100%;
  flex: 1;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  overflow: auto;

  display: flex;
}

div.Page {

  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;

  h4 {
    text-decoration: underline;
  }
  p {
    // line-height: 1.6;
    margin-bottom: 1.25rem;
  }

}

.Page__content {
  
  padding: 30px;
  width: 100%;
  flex-grow: 1;

  @include for-tablet-portrait-up() {
    p, h1, h2, h3, h4, h5, h6, ul {
      width: 60%;
      display: inline-block;
    }

    ul {
      margin-top: 0;
    }

    aside {
      width: 38%;
      float: right;

      img {
        margin: 0 auto;
      }
    }
  };
}
