@import "_vars.scss";

.App {
  height: 100%;
  display: flex;
  flex-direction: column;

  & > div {
    box-sizing: border-box;
  }

  // Standard inline-link focus class:
  a:not(.btn):not(.image):focus {
    box-shadow: none;
    outline: 2px solid $gray-dark;
    outline-offset: 2px;
  }
}

.App__warning {
  padding: 30px 15px 15px 15px;
  background-color: $dark;
  color: #fff;
  text-align: center;

  a {
    color: #fff;
  }
}

.App__header {
  padding: 15px;
  border-bottom: 1px solid $gray-light;
  background-color: $background;

  display: flex;

  justify-content: space-between;
  align-items: center;
  position: relative;

  @include for-desktop-down {
    padding: 10px 15px;
  }

  .label.label-warning {
    color: $dark;
    margin-top: 0.75rem;
    @include for-tablet-portrait-up {
      transform: rotate(-4deg);
      margin-top: 0rem;
    }
  }

  @include for-phone-only {
    flex-direction: column;
    justify-content: center;
    padding: 10px 8px 8px;
  }

  & > a,
  a:hover,
  a:focus {
    text-decoration: none !important;
  }

  & > a {
    @include for-tablet-portrait-up {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h4 {
      margin-bottom: 0;
      color: $dark;
      font-weight: bold;
      font-size: 1.8rem;

      @include for-tablet-portrait-up() {
        font-size: 2.4rem;
      }
    }
  }

  nav {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    @include for-desktop-down {
      max-width: 240px;
    }

    @include for-tablet-landscape-down {
      max-width: 140px;
    }

    @include for-phone-only {
      margin-left: 0;
      max-width: none;
      width: 100%;
      justify-content: center;
      margin-top: 8px;
    }

    a {
      margin-left: 10px;
      color: #454d5d;

      @include for-phone-only {
        margin-left: 7px;
        margin-right: 7px;
      }

      &.active {
        text-decoration: none;
        cursor: default;
      }
    }

    .language-toggle a {
      margin-right: 0;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.App__body {
  // height: 100%;
  flex: 1;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  overflow: auto;

  display: flex;
}

div.Page {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;

  h4 {
    text-decoration: underline;
  }
  p {
    // line-height: 1.6;
    margin-bottom: 1.25rem;
  }
}

.Page__content {
  padding: 30px;
  width: 100%;
  flex-grow: 1;

  li p {
    display: inline;
  }

  // mobile
  @include for-tablet-landscape-down() {
    h5 {
      margin-top: 4rem;
    }
    aside {
      margin-top: 48px;
      margin-bottom: 48px;

      &.contentful-asset {
        display: none;
      }
    }
  }

  @include for-tablet-landscape-up() {
    aside {
      width: 38%;
      float: right;

      & > div,
      & > figure {
        max-width: 360px;
        margin: 0 auto;
      }
      img {
        margin: 0 auto;
      }
      figcaption {
        max-width: 300px;
        margin: 1rem auto;
        font-size: 1.25rem;
        line-height: 1.1;
      }
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      width: 55vw;
      display: inline-block;
    }

    ul,
    ol {
      margin-top: 0;
      max-width: 50vw;
    }
  }
}

.material-icons.md-14 { font-size: 14px;}
.material-icons.md-18 { font-size: 18px; }

.triangle-button-container{
  display:flex;
  flex-direction: column;
}

.button-info {
  background: #454d5d;
  color:white;
  font-size: 0.1em;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  z-index: 11;
  margin: 2px 2px 0px 0px;
  @include for-phone-only {
    margin: 2px 5px 1px 7px;
  }
}

.button-info:hover{
  background: none;
  color:#616f8d;
}

.button-info.pressed {
  background: none;
  color:#454d5d;
}

.tooltip-triangle {
	width: 0;
  height: 0;
  margin-left: auto;
  margin-right: auto;
	border-left: 8.25px solid transparent;
	border-right: 8.5px solid transparent;
	border-bottom: 14px solid  #454d5d;
  background-size: 3px 3px;
  z-index: 11;
  visibility: hidden;
}

.tooltip-triangle.toggled {
  visibility: visible;
}

/*container for widget, hidden by default */
.widget-container {
  display: none;
  position: absolute;
    z-index: 12;
    width: 25%;
    right: 8%;
    min-width: 200px;
    max-width: 250px;
    border: 1em solid #454d5d;
  @include for-phone-only {
    right: 0%;
    left: 4%;
    width: 90%;
  }
}

.widget-content-container {
  width: 100%;
  height: 100%;
  padding-top: 5px;
  color: white;
  background-color: #454d5d;
}

.header {
  padding: 0px 3px 5px 0px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  background-color: #454d5d;
  width: 100%;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid #fe9d43;
}

.widget-title {
  display: inline-block;
  font-size: 1.2em;
  background-color: #454d5d;
  color: white;
  font-weight: bold;
}

.entry{
  padding: 5px;
}

.button-cancel:hover {
  background-color: #616f8d;
  border-radius: 50%;
  height: 20px;
  margin-top: 4px;
}

/* Full-width textarea */
.widget-description{
  padding: 5px 0px 5px 0px;
  margin: 0px;
}

.entry-title {
  font-size: 1.1em;
  font-weight: 900;
  margin-left: 10px;
}

.entry-index{
  font-size: 0.9em;
  word-spacing: -4px;
}

.navButtons {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.button-nav {
  display: flex;
  position: relative;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  font-size: 0.9em;
  border-radius: 4px;
}


.button-nav.prev {
  background: none;
  color: white;
  padding: 0.05em 0.55em 0.2em 0.2em;
  height: 100%;
}

.prev-text{
  text-decoration: underline;
  text-underline-position: under;
}

.button-nav.next {
  background-color: #E89141;
  color: #454d5d;
  padding: 0.1em 0.2em 0.2em 0.55em;
  height: 100%;
}

.button-nav.prev:hover{
  background-color:#6d7da5;

}

.button-nav.next:hover{
  background-color:#6d7da5;
  color:white;

}

.focusable:focus {
  box-shadow: none;
    outline: 2px solid $gray-dark;
    outline-offset: 2px;
}

.widget-image{
  width: 100%;
}

.prev-next-icon {
  margin-top: 2px;
}


