@import "~@justfixnyc/component-library/dist/src/assets/index.css";
@import "_vars.scss";
@import "_typography.scss";

.App {
  height: 100%;
  display: flex;
  flex-direction: column;

  & > div {
    box-sizing: border-box;
  }

  // Standard inline-link focus class:
  a:not(.btn):not(.image):focus,
  summary:focus-visible,
  button.dropdown-toggle:focus {
    box-shadow: none;
    outline: 2px solid $gray-dark;
    outline-offset: 2px;
  }
}

.App__warning {
  padding: 30px 15px 15px 15px;
  background-color: $dark;
  color: #fff;
  text-align: center;

  a {
    color: #fff;
  }
}

.App__banner {
  padding: 0.31rem 0.94rem;
  color: $wowza-dark;
  position: relative;

  .close-button {
    color: $wowza-dark;
    position: absolute;
    right: 0.31rem;
    top: 0rem;
    padding: 0 0.63rem;
    font-size: 1.25rem;
    height: 100%;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }

  button:focus {
    outline: 2px solid $dark;
    outline-offset: 2px;
  }

  .content {
    text-align: center;
    @include for-phone-only {
      text-align: left;
      max-width: 95%;
    }

    // Override default <p> styling:
    p {
      margin-bottom: 0;
    }

    a,
    button:not(.close-button) {
      color: $wowza-dark;
      text-decoration: underline;
      font-weight: 700;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  background-color: $wowza-warning;
}

.App__header {
  padding: 15px;
  border-bottom: 1px solid $gray-light;
  background-color: $background;

  display: flex;

  justify-content: space-between;
  align-items: center;
  position: relative;

  @include for-phone-only {
    padding: 10px 8px 8px;
  }

  &.wowza-styling {
    background-color: $wowza-dark;
    & > a h4,
    button.btn.btn-link.dropdown-toggle {
      color: $wowza-background;
    }
    @include for-tablet-landscape-up() {
      color: $wowza-background;
      nav a,
      nav button {
        color: $wowza-background;
      }
    }
    .menu {
      background-color: $wowza-background;
      color: $wowza-dark;
    }
  }

  .label.label-warning {
    color: $dark;
    transform: rotate(-4deg);
    margin-top: 0rem;
    height: min-content;
    @include for-phone-only {
      font-size: 0.63rem;
      width: min-content;
    }
  }

  h1.page-title {
    margin: 0;
    color: $justfix-white;
    line-height: 1.2;
    font-weight: bold;
    font-size: 1.13rem;

    @include for-tablet-portrait-up() {
      font-size: 1.5rem;
    }
  }

  & > a,
  a:hover,
  a:focus {
    text-decoration: none !important;
  }

  & > a {
    display: block;
    position: absolute;
    width: fit-content;
    max-width: 75%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 -0.63rem 0;
  }

  nav {
    display: inline-flex;
    flex-wrap: nowrap;
    margin-left: auto;
    text-align: end;

    @include for-tablet-landscape-down {
      align-items: center;
    }

    @include for-desktop-down {
      max-width: 250px;
    }

    a,
    button {
      display: inline-block;
      margin-left: 10px;
      color: $dark;
      text-decoration: underline;

      &.active,
      &:hover {
        text-decoration: none;
        cursor: default;
      }
    }

    .menu .menu-item > button {
      text-decoration: none;
      color: inherit;
      display: inline;
      margin: 0 -0.5rem;
      padding: 0.37rem 0.5rem;
    }

    .language-toggle a {
      margin-right: 0;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.App__body {
  // height: 100%;
  flex: 1;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  overflow: auto;

  display: flex;

  &.wowza-styling,
  &.wowza-styling .Loader-map,
  &.wowza-styling .EngagementPanel {
    color: $wowza-dark;
    background-color: $wowza-background;
    border-color: $wowza-dark;
  }
}

div.Page {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;

  h4 {
    text-decoration: underline;
  }
  p {
    // line-height: 1.6;
    margin-bottom: 0.78rem;
  }

  .page-container {
    h4 {
      text-decoration: none;
      text-align: center;
    }

    width: min(calc(100vw - 2.5rem), 37.5rem);
    max-width: 37.5rem;
    margin: 2.5rem auto;

    form {
      display: flex;
      flex-direction: column;

      .form-label {
        @include desktop-eyebrow();
      }

      input[type="submit"] {
        margin: 0.63rem auto;
      }
    }
  }
}

.Page__content {
  padding: 30px;
  width: 100%;
  flex-grow: 1;

  li p {
    display: inline;
  }

  // mobile
  @include for-tablet-landscape-down() {
    h5 {
      margin-top: 2.5rem;
    }
    aside {
      margin-top: 48px;
      margin-bottom: 48px;

      &.contentful-asset {
        display: none;
      }
    }
  }

  @include for-tablet-landscape-up() {
    aside {
      width: 38%;
      float: right;

      & > div,
      & > figure {
        max-width: 360px;
        margin: 0 auto;
      }
      img {
        margin: 0 auto;
      }
      figcaption {
        max-width: 300px;
        margin: 0.63rem auto;
        font-size: 0.78rem;
        line-height: 1.1;
      }
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      width: 55vw;
      display: inline-block;
    }

    ul,
    ol {
      margin-top: 0;
      max-width: 50vw;
    }
  }
}
