@import '_vars.scss';

.App {

  height: 100%;
  display: flex;
  flex-direction: column;

  & > div {
    box-sizing: border-box;
  }
}

.App__header {
  padding: 15px;
  border-bottom: 1px solid $gray-light;
  background-color: $background;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  & > a,a:hover,a:focus {
    text-decoration: none !important;
  }

  & > a {
    display: block;

    h4 {
      margin-bottom: 0;
      color: $dark;
      font-weight: bold;
      font-size: 2.2rem;
    }

    @include for-tablet-portrait-up() {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h4 {
        font-size: 2.4rem;
      }
    };

  }


  nav {
    margin-left: auto;

    a {
      margin-left: 10px;
      color: #454d5d;

      &.active { text-decoration: underline; }

      @include for-phone-only() {
        margin-left: 0;
        display: block;
      }
    }
  }

}

.App__body {
  // height: 100%;
  flex: 1;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow: auto;
}

div.Page {
  padding: 30px;


  h4 {
    text-decoration: underline;
  }

  p {
    line-height: 1.6;
    margin-bottom: 1.25rem;
  }

}
