@import "_vars.scss";

.code-entry {
  .code-entry-label {
    display: block;
    font-weight: 500;
    font-size: 0.875rem;
    margin-bottom: 0.625rem; // 10px
  }

  .code-entry-email {
    font-weight: 600;
  }

  .code-entry-resend {
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0;
    align-self: center;

    button {
      color: $justfix-black;
      text-decoration: underline;

      &:disabled {
        opacity: 0.6;
      }
    }
  }

  .code-entry-error {
    color: $justfix-red;
    font-size: 0.8125rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0;
    align-self: center;
  }

  .submit-button-group {
    margin-top: 0.5rem;
  }
}
