@import '_vars.scss';

.DetailView {

  $detailWidth: 45vw;
  $detailAnimLength: 300;
  $detailAnimLengthMs: 300 + 0ms;

  position: relative;
  flex: 1 0 $detailWidth;
  height: 100%;
  overflow: visible;
  // overflow-x: visible;

  z-index: 10;
  background-color: #ffffff;
  border-top: 1px solid $gray-dark;
  // border-top: 1px solid $dark;
  border-left: 1px solid $gray-dark;
  border-bottom: 1px solid $gray-dark;
  // border-left: 1px solid $dark;

  &.slide-enter {
    margin-right: -$detailWidth;
  }

  &.slide-enter.slide-enter-active {
    margin-right: 0;
    transition: margin $detailAnimLengthMs cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  &.slide-leave {
    margin-right: 0;
  }

  &.slide-leave.slide-leave-active {
    margin-right: -$detailWidth;
    transition: margin $detailAnimLengthMs cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  .DetailView__wrapper {
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 16px;
      background-color: #fff;
    }

    &::-webkit-scrollbar-track {

      background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGBogGIGEGAEk0gAWQCsEkMFAFLuAgUPsJBaAAAAAElFTkSuQmCC) repeat;

      border-left: 1px solid $dark;
      border-right: 1px solid $dark;

      border-left: 1px solid $gray-dark;
      border-right: 1px solid $gray-dark;
    }

    &::-webkit-scrollbar-thumb {

      background-color: $gray-dark;
      // background-color: $retro-3;
      // background-color: $primary-color-dark;

      // background-color: $dark;
      // background-color: #fff;
      // border-top: 1px solid $dark;
      // border-top: 1px solid darken($retro-5, 5%);
      // border-left: 1px solid darken($retro-5, 5%);
      // border-left: 1px solid $dark;
      // border-right: 2px solid $dark;
      // border-bottom: 2px solid $dark;
      // border: 2px solid darken($dark, 10%);
      // border-right: 2px solid darken($retro-5, 5%);
      // border-bottom: 2px solid darken($retro-5, 5%);
      // border: 2px solid $dark;
      // border: 1px solid $gray-dark;
      // border: 3px solid $primary-color;

      // border: 1px solid $gray-dark;
      // border-top: 1px solid $dark;
      border-left: 1px solid $dark;
      // border: 1px solid $gray-dark;
      box-shadow: inset -2px -2px 0px 0px $dark,
                  inset 2px 2px 0px 0px lighten($gray-dark, 10%);
    }

    &::-webkit-scrollbar-button {
        background-size: 100%;
        height: 10px;
        width: 10px;
         content: "▲";
         color: rgb(255, 255, 255);
         background: rgb(255, 0, 0);
        // -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
    }
  }

  .DetailView__close {
    position: absolute;
    top: -1px;
    left: -66px;
    width: 66px;
    height: 42px;
    transform: translateZ(0);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    border: 1px solid $gray-dark;

    & .btn {
      font-size: 18px;
    }
  }

  .DetailView__card {

    border: none;

    p {
      line-height: 1.8rem;
      margin-bottom: 15px;
    }

    ul {
      margin: 1rem 0.5rem;

      li {
        margin-top: 0.5rem;
      }
    }


    .card-header {
      // padding-left: 3rem;
    }

    .card-image {
      padding-top: 0;
    }

    .card-body {
      padding-top: 0;
      padding-right: 3rem;
    }

    .card-body-table {

      border: 1px solid $gray-dark;
      border-spacing: 0;
      width: 100%;
      margin-bottom: 1.5rem;

      tr {
        display: flex;

        &:not(:last-child) {
          border-bottom: 1px solid $gray-dark;
        }

        td {
          flex: 1;
          padding-bottom: 3px;
          // width: 25%;

          &.double {
            // width: 50%;
            flex: 2;
            padding-left: 4px;

            label {
              margin-left: -3px;
            }
          }

          &:not(:last-child) {
            border-right: 1px solid $gray-dark;
          }

          text-align: center;
          font-size: 2rem;

          label {
            display: block;
            line-height: 1.1;
            font-size: 1.3rem;
            padding: 1px 0;
            // background-color: $background;
            border-bottom: 1px solid $gray-dark;
            margin-bottom: 3px;
            color: #000;

            background-image: linear-gradient(
                to right top,
                $background 33%,
                darken($background, 8%) 33%,
                darken($background, 8%) 66%,
                $background 66%
            );
            background-size: 3px 3px;
          }
        }


      }
    }

    .card-body-landlord {

      b {
        display: block;
        border-bottom: 1px solid $gray-dark;
      }

    }

    .card-body-links {
      margin-top: 20px;

      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      a.btn:not(:first-child) {
        margin-top: 10px;
      }
    }


  }


}
