@import '_vars.scss';
@import '_scrollbar.scss';

.DetailView {

  $detailWidth: 45vw;
  $detailAnimLength: 300;
  $detailAnimLengthMs: 300 + 0ms;

  position: relative;
  flex: 1 0 $detailWidth;
  height: 100%;
  overflow: visible;

  z-index: 10;
  background-color: #ffffff;
  border-left: 1px solid $dark;



  &.slide-enter {
    margin-right: -$detailWidth;
  }

  &.slide-enter.slide-enter-active {
    margin-right: 0;
    transition: margin $detailAnimLengthMs cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  &.slide-leave {
    margin-right: 0;
  }

  &.slide-leave.slide-leave-active {
    margin-right: -$detailWidth;
    transition: margin $detailAnimLengthMs cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  .DetailView__wrapper {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    @include scrollbar();

  }

  .DetailView__close {
    position: absolute;
    top: -1px;
    left: -66px;
    width: 66px;
    height: 42px;
    transform: translateZ(0);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    border: 1px solid $gray-dark;

    & .btn {
      font-size: 18px;
    }
  }

  .DetailView__card {

    border: none;

    p {
      line-height: 1.8rem;
      margin-bottom: 15px;
    }

    ul {
      margin: 1rem 0.5rem;

      li {
        margin-top: 0.5rem;
      }
    }


    .card-header {
      // padding-left: 3rem;
    }

    .card-image {
      padding-top: 0;
      border-bottom: 1px solid $dark;
    }

    .card-body {
      padding-top: 0;
      padding-right: 3rem;
    }

    .card-body-table {

      border: 1px solid $gray-dark;
      border-spacing: 0;
      width: 100%;
      margin-bottom: 1.5rem;

      tr {
        display: flex;

        &:not(:last-child) {
          border-bottom: 1px solid $gray-dark;
        }

        td {
          flex: 1;
          padding-bottom: 3px;
          // width: 25%;

          &.double {
            // width: 50%;
            flex: 2;
            padding-left: 4px;

            label {
              margin-left: -3px;
            }
          }

          &:not(:last-child) {
            border-right: 1px solid $gray-dark;
          }

          text-align: center;
          font-size: 2rem;

          label {
            display: block;
            line-height: 1.1;
            font-size: 1.3rem;
            padding: 1px 0;
            // background-color: $background;
            border-bottom: 1px solid $gray-dark;
            margin-bottom: 3px;
            color: #000;

            background-image: linear-gradient(
                to right top,
                $background 33%,
                darken($background, 8%) 33%,
                darken($background, 8%) 66%,
                $background 66%
            );
            background-size: 3px 3px;
          }
        }


      }
    }

    .card-body-landlord {

      b {
        display: block;
        border-bottom: 1px solid $gray-dark;
      }

    }

    .card-body-links {
      margin-top: 20px;

      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      a.btn:not(:first-child) {
        margin-top: 10px;
      }

      .btn {

      }
    }


  }


}
