@import "./vars";
@import "./typography";

$zoom-size: 40px;

div.DistrictAlertsPage {
  .page-container {
    width: unset;
    max-width: unset;
    margin: 0;
    height: 100%;
  }
  .district-selection {
    position: relative;
    height: 100%;

    .district-map-container {
      height: 100%;
      width: 100%;
      @include for-phone-only {
        height: 50%;
      }
      .district-map-loading {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: white;
      }
      .mapboxgl-map {
        height: 100%;
        width: 100%;
        .mapboxgl-canvas {
          height: 100%;
          width: 100%;
        }
        @include for-tablet-portrait-up {
          .mapboxgl-ctrl-group button {
            width: $zoom-size;
            height: $zoom-size;
            span {
              background-size: $zoom-size $zoom-size;
            }
          }
        }
      }
    }

    .district-selection__sidebar {
      position: absolute;
      top: 2rem;
      left: 3.125rem;
      display: flex;
      flex-direction: column;
      padding: 1.5rem 1rem;
      background-color: $justfix-white-100;
      width: 26.375rem;
      max-height: calc(100% - 4rem);
      // TODO: With this it handles the chips correctly, but not the dropdown.
      // Without this the dropdown works as expected but not the chips. If we
      // leave out the overflow here, and instead put it on the chip container,
      // that works, but changes the design.
      overflow: auto;
      border-radius: 4px;
      border: 2px solid #c5ccd1; // new grey in figma, unnamed
      @include for-phone-only {
        position: relative;
        top: unset;
        left: unset;
        width: 100%;
        height: 50%;
      }

      h2 {
        @include jfcl-h3-desktop;
        margin-bottom: 1rem;
        @include for-phone-only {
          @include jfcl-h3-mobile;
        }
      }
      p {
        @include jfcl-body-standard-desktop;
        margin: 0;
      }
      hr {
        width: -webkit-fill-available;
        border: none;
        border-bottom: 1px solid #c5ccd1; // new grey in figma, unnamed
        margin: 1.5rem 0;
      }
      p + .dropdown-select {
        margin: 1.5rem 0 1rem 0;
      }
      .dropdown-select {
        @include jfcl-body-standard-desktop;
        z-index: 3; // so that dropdown menu covers map zoom controls
      }
      .dropdown-select + .dropdown-select {
        margin-bottom: 1.5rem;
      }
      #react-select-2-listbox,
      #react-select-3-listbox {
        position: unset;
      }
      .district-type-dropdown {
        padding: 1.5rem 0 1rem;
      }
      .district-value-dropdown {
        padding: 0 0 1.5rem;
      }
      @include for-tablet-portrait-up {
        .dropdown-select__value-container {
          padding: 0.5rem;
        }
        .dropdown-select__indicators-container > div {
          padding: 1rem;
        }
      }
      .area-selection-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        hr {
          margin: 0;
        }
        .area-selection-chip-container {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 0.75rem;
          margin: 1.5rem 0;
          overflow: auto; // TODO: decide how to handle overflow/scrolling
          max-height: 500px;

          .area-selection-chip {
            display: flex;
            padding-left: 1rem;
            align-items: center;
            border-radius: 0.375rem;
            border: 1px solid $justfix-yellow;
            background-color: #fee9be; // New light yellow, needs namex
            width: fit-content;
            @include jfcl-body-standard-desktop;
            .area-selection-chip__label {
              margin: 0.75rem 0;
            }
            button {
              padding: 0.75rem 1rem 0.75rem 0.75rem;
            }
          }
        }
        .selection-message {
          color: $justfix-grey-700;
          margin-bottom: 1rem;
        }
      }
      .error-message {
        align-self: center;
        margin-bottom: 1rem;
        color: $justfix-red;
        svg {
          color: $justfix-orange;
          margin-right: 0.38rem;
        }
      }
      .save-selection {
        align-self: center;
        margin-top: auto;
      }
    }
  }
}
