@import "_vars.scss";

// NOTE: Spectre includes a lot of intricate ".dropdown" class rules that can override
// some of these custom rules. This class nesting was designed to prioritize these custom
// rules without bloating our CSS with many new custom class names.
.App .DropdownComponent {
  .dropdown-overlay {
    &.hidden {
      display: none;
    }
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: $dark;
    opacity: 0.6;
    z-index: 100;
  }

  .dropdown {
    z-index: 110;
    // Remove default border on focus:
    button.dropdown-toggle:focus {
      border: none;
    }
    .menu {
      padding: 0.25rem 0.5rem;
      font-size: 1.6rem;

      .menu-item a {
        &:focus {
          outline-offset: 0px;
        }
        &:active,
        &.active {
          background: $gray-light;
        }
      }

      &.d-none {
        display: none;
      }
      &.d-block {
        display: block;
      }
    }
  }
}
