@import "_vars.scss";
@import "_typography.scss";

.EmailAlertSignup {
  margin-top: 1.25rem;

  // overrides datatable mixin
  label:hover,
  div:hover {
    cursor: default !important;
  }

  .data-updates-label-container {
    min-height: 2.37rem;
    display: flex !important;
    justify-content: center;
    align-items: center;

    .pill-new {
      font-family: $body-font;
      letter-spacing: 0.02em;
      background: $justfix-yellow;
      padding: 0.25rem 0.5rem;
      border-radius: 1rem;
      width: fit-content;
      margin-right: 0.5rem !important;
    }

    @include for-phone-only() {
      width: unset;
      justify-content: center;
      .pill-new {
        margin: 0;
      }
    }
  }

  .table-small-font {
    padding: 0 !important;
  }

  .table-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    margin: 0 !important;
  }

  .email-description {
    text-align: left;
    line-height: 117%;
  }

  button.is-primary {
    @include for-phone-only() {
      width: -webkit-fill-available !important;
    }
  }

  .building-subscribe-status {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1.5rem;

    button {
      align-self: center;
    }

    .status-title {
      display: flex;
      align-items: center;

      svg {
        margin-right: 0.63rem;
      }
    }
  }
}
