@import "_vars.scss";

.EngagementPanel {
  width: max-content;
  max-width: 100%;

  background-color: $background;
  border: 1px solid $gray-dark;

  margin: 104px auto 104px auto;
  padding: 30px;

  @include for-phone-only() {
    margin: 72px auto 72px auto;
    box-sizing: border-box;
    padding: 30px 15px;
  }

  h5 {
    text-align: center;
    font-style: italic;
  }

  .EngagementWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    flex-direction: row;

    @include for-tablet-landscape-down() {
      display: block;
      align-items: center;
      flex-direction: column;
    }

    .EngagementItem {
      margin-left: 16px;
      margin-right: 16px;

      @include for-tablet-landscape-down() {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 3px;
        color: $dark;
      }

      .btn-block {
        min-width: 175px;
      }

      @include for-tablet-landscape-down() {
        .EngagementSocialLinks {
          display: flex;

          .btn {
            flex: 1 1 0;
          }
        }
      }
    }
  }
}
