@import '_vars.scss';

.EngagementPanel {
  background-color: $background;
  border: 1px solid $gray-dark;

  margin: 75px auto 45px auto;
  padding: 30px;

  @include for-phone-only() {
    margin: 10px auto 30px auto;
    padding: 20px 0px 20px 0px;
  };

    h5 {
      text-align: center;
      padding: 0px 15px 0px 15px;
    }

    .EngagementWrapper {

      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      flex-direction: row;

      @include for-tablet-landscape-down() {
        align-items: center; 
        flex-direction: column;
      };

      .EngagementItem {
        margin-left: 20px;
        margin-right: 20px;

        @include for-tablet-landscape-down() {
          margin-top: 10px;
          margin-bottom: 10px;
        };
      
        p {
          margin-bottom: 3px;
        }

      }
    }
}