@import "_vars.scss";
@import "_typography.scss";

.ForgotPasswordPage {
  .page-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  h4 {
    font-size: 1.5rem;
    margin: 0;
  }

  h5 {
    font-size: 1rem;
    margin: 0;
  }

  label {
    @include desktop-eyebrow();

    text-align: left;
    margin-top: 0.39rem;
    margin-bottom: 0.19rem;
  }

  input[type="submit"] {
    padding: 0.63rem 1.25rem !important;
    align-self: center;
    margin: 1.02rem auto 0.23rem auto !important;
  }

  .request-sent-success {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      margin: 0.39rem 0 0.98rem 0;
    }

    .button.is-text {
      margin-top: 0.39rem;
      display: block !important;
      color: $justfix-black;
    }
  }
}
