@import "_vars.scss";
@import "_typography.scss";

.ForgotPasswordPage {
  .page-title {
    margin-top: 1.5rem;
  }

  h4 {
    font-size: 2.4rem;
  }
  h5 {
    font-size: 1.6rem;
    margin-left: 0.75rem;
  }

  label {
    @include desktop-eyebrow();

    text-align: left;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  input[type="submit"] {
    padding: 1.6rem 3.2rem !important;
    align-self: center;
    margin: 2.6rem auto 0.6rem auto !important;
  }

  .request-sent-success {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      margin: 1rem 0 2.5rem 0;
    }

    .button.is-text {
      margin-top: 1rem;
      display: block !important;
      color: $justfix-black;
    }
  }
}
