@import "_vars.scss";

.HomePage {
  .HomePage__banner {
    padding: 0.63rem 0.94rem;

    b {
      color: $dark;
    }

    .close-button {
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }

    .content {
      padding-right: 24px;
      text-align: center;

      // Override default <p> styling:
      p {
        margin-bottom: 0;
      }

      a {
        color: $dark;
        text-decoration: underline;
        font-weight: 700;

        &:hover {
          text-decoration: none;
        }
      }
    }

    background-color: $warning;
  }

  .HomePage__content {
    width: 85vw;
    margin: 0 auto;
    flex-grow: 1;

    h1 {
      font-size: 1.25rem;
    }

    @include for-tablet-portrait-up() {
      width: 65vw;
    }
  }

  .HomePage__search {
    background-color: $background;
    border: 1px solid $gray-dark;

    margin: 75px auto 60px auto;
    padding: 35px;

    @include for-phone-only() {
      margin: 40px auto 15vh auto;
      padding: 20px;
    }

    &.wowza-styling {
      background-color: transparent;
      border: none;
      color: $wowza-dark;

      h1 {
        text-align: left;
        font-size: 2.25rem;
        font-weight: 600;
      }
      h2 {
        font-size: 1rem;
        margin-bottom: 0.75rem;
      }

      label {
        margin-left: 0.44rem;
      }

      i.form-icon {
        transform: scale(1.5);
        background: transparent;
        border-color: $wowza-dark;
        margin-left: -0.13rem;

        &::before {
          background: $wowza-dark;
          border-radius: 0.63rem;
          transform: scale(2);
        }
      }

      .chip {
        border-radius: 0.94rem;
        height: 1.13rem;
        padding: 0 0.69rem;
        margin-left: 0.37rem;
        box-shadow: 0 0 0.25rem $wowza-dark;
        transform: rotate(-12deg);
        background-color: $wowza-dark;
        color: $wowza-background;
        text-transform: uppercase;
        font-size: 0.75rem;
      }

      .AddressSearch,
      .LandlordSearch {
        margin-top: 0.94rem;
        margin-bottom: 0.94rem;
        input.form-input {
          background: inherit;
          color: $wowza-dark;
          border-radius: 0.31rem;
          height: 2.81rem;
          border: 1px solid $wowza-dark;

          &:focus {
            border: 2px $justfix-black solid;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          }

          &::placeholder {
            color: transparent;
          }
        }
      }
    }
  }

  .HomePage__samples {
    margin: 0 auto 30px auto;

    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .HomePage__sample {
      border: 1px dashed $gray;
      padding: 24px;

      h6 {
        font-weight: bold;
        text-align: center;

        a {
          color: $dark;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .portfolio-link {
      margin-top: 1.5rem;
    }
  }
}

// Special WOWZA Styling:

.wowza-styling .HomePage {
  background: $wowza-background;
  color: $wowza-dark;
  a:not(.btn-justfix):not(.jfcl-link):not(.algolia__item),
  h6 a,
  .HomePage__samples .HomePage__sample,
  .HomePage__samples .HomePage__sample h6 a,
  a .btn,
  .EngagementPanel,
  .EngagementPanel input {
    color: $wowza-dark;
    background-color: $wowza-background;
    border-color: $wowza-dark;
  }
  height: fit-content;
}
