@import '_vars.scss';

.HomePage {
}

.HomePage__content {
  width: 85vw;
  margin: 0 auto;
  flex-grow: 1;

  @include for-tablet-portrait-up() {
    width: 65vw;
  };
}

.HomePage__search {

  background-color: $background;
  border: 1px solid $gray-dark;

  margin: 75px auto 60px auto;
  padding: 35px;

  @include for-phone-only() {
    margin: 40px auto 30vh auto;
    padding: 20px;
  };
}

.HomePage__samples {

  margin: 0 auto 30px auto;

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .HomePage__sample {
    border: 1px dashed $gray;
    padding: 10px;

    h6 {
      text-decoration: underline;
      font-weight: bold;
      text-align: center;
    }

    img {
      width: 60%;
      margin: 15px auto;

      &.silvershore {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
}
