@import '_vars.scss';

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $dark !important;
  font-family: 'Inconsolata', monospace !important;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

// .gmnoprint a, .gmnoprint span, .gm-style-cc {
//     display:none;
// }
// .gmnoprint div {
//     background:none !important;
// }
