@import '_vars.scss';

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  color: $dark !important;
  font-family: 'Inconsolata', monospace !important;
}

#root {
  height: 100%;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.form-input {
  @include for-phone-only() {
    font-size: 16px;
  };

}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

// .gmnoprint a, .gmnoprint span, .gm-style-cc {
//     display:none;
// }
// .gmnoprint div {
//     background:none !important;
// }

// make text unselectable when copying:
.unselectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.old_safari_only {
  display: none;
}
/* Safari 9+ (non-iOS) */
_:default:not(:root:root), .old_safari_only {
  display: block;
}
/* Safari 11+ */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .old_safari_only {
      display: none !important;
    }
}}
