@import '_vars.scss';
@import '_scrollbar.scss';
@import '_button.scss';

.Indicators {



  // @include for-phone-only() {
  //   padding-right: 30px;
  // };

  .Indicators__content {

    padding: 30px 45px 45px 30px;

    @include for-tablet-portrait-up() {
      padding: 45px 45px 45px 45px;
    }

    & > div > h6 {
      font-size: 1.4rem;
      margin-bottom: .6rem;
      text-decoration: underline;
      font-weight: bold;
    }

    p {
      font-size: 1.6rem;
      margin-bottom: 2.4rem;
    }

    .control-panel {
      justify-content: space-evenly; 
      padding-top: 15px;
      padding-bottom: 20px;
    }

    .btn-data-select {
        max-width: 350px
    }

    .btn-data-select.selected, .btn-data-select.selected:hover {
      color: #fff;
      background-color: #727e96;
      box-shadow: inset 1px 1px 0px 0px #4f596c;
    }

    aside {

      @include for-tablet-portrait-up() {
        width: 32%;
        margin-left: 40px;
        margin-top: 0;
        margin-bottom: 0;
      }

    }
  }

  .Indicators__links {
    padding: 2rem 1.5rem;
    position: relative;

    .Indicators__linksTitle {
      position: absolute;
      top: -19px;
      left: 7px;
      padding: 8px 9px 4px 8px;
      background-color: #fff;
    }

    h6.Indicators__linksSubtitle {
      font-weight: bold;
      margin-bottom: 0.75rem;
      width: 100%;
    }

    & > div:not(:last-child) {
      margin-bottom: 24px;
    }


  }

}
