@import "_vars.scss";
@import "_scrollbar.scss";
@import "_button.scss";

.Indicators {
  // @include for-phone-only() {
  //   padding-right: 30px;
  // };

  .Indicators__content {
    padding: 16px;

    @include for-tablet-portrait-up() {
      padding: 26px;
    }

    & > div > h6 {
      font-size: 1.4rem;
      margin-bottom: 0.6rem;
      text-decoration: underline;
      font-weight: bold;
    }

    p {
      font-size: 1.6rem;
      margin-bottom: 2.4rem;
    }

    .columns {
      .column.column-context:last-child {
        @include for-tablet-landscape-up() {
          padding-left: 3rem;
        }
      }
    }

    .title {
      font-size: 2rem;
      text-decoration: none;
      margin-bottom: 0px;

      &.viz-title {
        display: block;
        text-align: center;
      }
    }

    .title-card {
      padding-bottom: 1.4rem;

      a {
        color: #454d5d;
        margin-left: 1.5rem;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .card {
      margin-bottom: 3rem;
    }

    .card-body-links {
      b {
        display: block;
        border-bottom: 1px solid $gray-dark;
      }
      ul {
        margin: 1rem 0.5rem;
        li {
          margin-top: 0.5rem;
          line-height: 1.8rem;
        }
      }
    }

    .control-panel {
      justify-content: space-evenly;
      padding-top: 15px;
    }

    .btn-data-select {
      flex: 1 1 0;
    }

    .btn-data-select.selected,
    .btn-data-select.selected:hover {
      color: #fff;
      background-color: #727e96;
      box-shadow: inset 1px 1px 0px 0px #4f596c;
    }

    aside {
      @include for-tablet-portrait-up() {
        width: 32%;
        margin-left: 40px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .Indicators__links {
    padding: 0rem 1.5rem 2.5rem 0rem;
    position: relative;

    .Indicators__linksContainer {
      &:first-child {
        padding-bottom: 1rem;
      }

      .Indicators__linksTitle {
        font-size: 1.5rem;
        margin-right: 2rem;
      }
    }
  }

  .Indicators__viz {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    .Indicators__chart {
      width: 100%;
    }

    .btn-axis-shift {
      height: 70px;
      border-radius: 30px;
      font-size: 20px;
      align-self: center;

      // button placement offset:
      margin-bottom: 75px;
    }

    .btn-off,
    .btn-off:hover,
    .btn-off:active {
      opacity: 0.25;
      cursor: default;
      color: #454d5d;
      border: 1px solid #454d5d;
      background-color: #f8f9fa;
      box-shadow: inset -1px -1px 0px 0px #acb3c2, inset 2px 2px 0px 0px #fff;
    }
  }
}
