@import "_vars.scss";
@import "_scrollbar.scss";
@import "_button.scss";

.Indicators {
  .Indicators__content {
    padding: 1.6rem;

    @include for-tablet-portrait-up() {
      padding: 2.6rem;
      .title-card,
      .Indicators__links {
        padding-left: 2.6rem;
      }
    }

    & > div > h6 {
      font-size: 1.4rem;
      margin-bottom: 0.6rem;
      text-decoration: underline;
      font-weight: bold;
    }

    p {
      font-size: 1.6rem;
      margin-bottom: 2.4rem;
    }

    .columns {
      .column.column-context:last-child {
        @include for-tablet-landscape-up() {
          padding-left: 3rem;
        }
      }
    }

    .title {
      font-size: 2rem;
      text-decoration: none;
      margin-bottom: 0px;

      &.viz-title {
        display: block;
        text-align: center;
      }
    }

    .title-card {
      padding-bottom: 1.4rem;
    }

    .card {
      margin-bottom: 3rem;
    }

    .card-body-links {
      b {
        display: block;
        border-bottom: 1px solid $gray-dark;
      }
      ul {
        margin: 1rem 0.5rem;
        li {
          margin-top: 0.5rem;
          line-height: 1.8rem;
        }
      }
    }

    aside {
      @include for-tablet-portrait-up() {
        width: 32%;
        margin-left: 40px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .Indicators__links {
    padding: 0rem 1.5rem 2.5rem 0rem;
    position: relative;

    @include for-tablet-portrait-up() {
      display: flex;

      .Indicators__linksContainer:first-child {
        padding-right: 3rem;
      }
    }

    .Indicators__linksContainer {
      // Make sure links container doesn't extend beyond viewport
      max-width: 100%;
      &:first-child {
        padding-bottom: 1rem;
      }

      .Indicators__linksTitle {
        display: inline-block;
        font-size: 1.5rem;
        margin: 0 2rem 0.4rem 0;
      }
    }
  }

  .Indicators__viz {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    .Indicators__chart {
      width: 95%;
      @include for-phone-only {
        width: 85%;
      }
    }

    .btn-axis-shift {
      height: 70px;
      border-radius: 30px;
      font-size: 20px;
      align-self: center;

      // button placement offset:
      margin-bottom: 75px;
    }

    .btn-off,
    .btn-off:hover,
    .btn-off:active {
      opacity: 0.25;
      cursor: default;
      color: #454d5d;
      border: 1px solid #454d5d;
      background-color: #f8f9fa;
      box-shadow: inset -1px -1px 0px 0px #acb3c2, inset 2px 2px 0px 0px #fff;
    }
  }
}
