@import "_vars.scss";
@import "_scrollbar.scss";
@import "_button.scss";

.Indicators {
  .Indicators__content {
    padding: 1rem;

    @include for-tablet-portrait-up() {
      padding: 1.63rem;
      .title-card,
      .Indicators__links {
        padding-left: 1.63rem;
      }
    }

    & > div > h6 {
      font-size: 0.87rem;
      margin-bottom: 0.37rem;
      text-decoration: underline;
      font-weight: bold;
    }

    p {
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }

    .columns {
      .column.column-context:last-child {
        @include for-tablet-landscape-up() {
          padding-left: 1.88rem;
        }
      }
    }

    .title {
      font-size: 1.25rem;
      text-decoration: none;
      margin-bottom: 0px;

      &.viz-title {
        display: block;
        text-align: center;
      }
    }

    .title-card {
      padding-bottom: 0.87rem;
    }

    .card {
      margin-bottom: 1.88rem;
    }

    .card-body-links {
      b {
        display: block;
        border-bottom: 1px solid $gray-dark;
      }
      ul {
        margin: 0.63rem 0.31rem;
        li {
          margin-top: 0.31rem;
          line-height: 1.13rem;
        }
      }
    }

    aside {
      @include for-tablet-portrait-up() {
        width: 32%;
        margin-left: 40px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .Indicators__links {
    padding: 0rem 0.94rem 1.56rem 0rem;
    position: relative;

    @include for-tablet-portrait-up() {
      display: flex;

      .Indicators__linksContainer:first-child {
        padding-right: 1.88rem;
      }
    }

    .Indicators__linksContainer {
      // Make sure links container doesn't extend beyond viewport
      max-width: 100%;
      &:first-child {
        padding-bottom: 0.63rem;
      }

      .Indicators__linksTitle {
        display: inline-block;
        font-size: 0.94rem;
        margin: 0 1.25rem 0.25rem 0;
      }

      .select__control {
        border-color: $justfix-black;
      }

      .select__control--is-focused,
      .select__control--menu-is-open {
        box-shadow: 0 0 0 1px $justfix-black;
      }

      .select__menu {
        .select__option--is-focused {
          background-color: $justfix-grey-50;
        }

        .select__option--is-selected {
          background-color: $justfix-white-200;
          color: $justfix-black;
        }
      }
    }
  }

  .Indicators__viz {
    display: flex;
    flex-direction: row;
    margin-top: 0.63rem;
    margin-bottom: 0.31rem;

    .Indicators__chart {
      width: 95%;
      @include for-phone-only {
        width: 85%;
      }
    }

    .btn-axis-shift {
      height: 70px;
      border-radius: 30px;
      font-size: 20px;
      align-self: center;

      // button placement offset:
      margin-bottom: 75px;
    }

    .btn-off,
    .btn-off:hover,
    .btn-off:active {
      opacity: 0.25;
      cursor: default;
      color: #454d5d;
      border: 1px solid #454d5d;
      background-color: #f8f9fa;
      box-shadow: inset -1px -1px 0px 0px #acb3c2, inset 2px 2px 0px 0px #fff;
    }
  }
}
