@import '_vars.scss';

.LegalFooter {
  padding: 32px 15px 32px 15px;
  border-top: 1px solid $gray-light;
  background-color: $background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;

  @include for-tablet-landscape-up() {
    height: 0px;
  }

  @include for-tablet-landscape-down() {
    padding: 8px;
    min-height: 60px;
    justify-content: space-between;
  }

  & > a,a:hover,a:focus {
    text-decoration: none !important;
  }

  a {
    color: #454d5d;

    &.active { text-decoration: underline; }

  }

  nav {
    margin-left: auto;

    @include for-tablet-landscape-down() {
      margin-right: auto;
    }

    a:not(:first-child) {
      margin-left: 10px;
    }
  }

  .Byline {
    align-self: center;

    @include for-tablet-landscape-up() {
      position: absolute;
    }
  }

}
