@import "_vars.scss";

.LegalFooter {
  .Links,
  .Disclaimer {
    padding: 16px;
    border-top: 1px solid $gray-light;
    background-color: $background;

    & > a,
    a:hover,
    a:focus {
      text-decoration: none !important;
    }

    a {
      color: #454d5d;
      &.active {
        text-decoration: underline;
      }
    }
  }

  .Links {
    text-align: right;

    @media screen and (max-width: 840px) {
      text-align: center;
    }

    div.d-flex {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: flex-end;
    }

    nav {
      @media screen and (min-width: 841px) {
        margin-bottom: 1.25rem;
      }
      a {
        display: inline-block;
        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }
  }

  .Disclaimer p:last-child {
    margin-bottom: 0;
  }
}

.wowza-styling {
  .LegalFooter,
  .LegalFooter .Disclaimer,
  .LegalFooter .Links {
    color: $wowza-dark;
    background-color: $wowza-background;
    border-color: $wowza-dark;
  }
}
