@import "_vars.scss";
@import "_typography.scss";

.Login {
  .input-group {
    display: flex;
    flex-direction: column;
    margin: 1rem 0.75rem;
  }

  label {
    @include desktop-eyebrow();

    text-align: left;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .login-type-toggle {
    display: flex;
    justify-content: flex-start;
  }

  .login-response-text {
    margin: 1rem 0 1rem;
  }

  .login-password-label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      flex: 1;
    }
  }

  h4 {
    font-size: 2.4rem;
  }
  h5 {
    font-size: 1.6rem;
  }

  .jf-alert {
    width: auto;
    margin-bottom: 2rem;

    .button.is-text {
      display: block !important;
      color: $justfix-white;
    }

    .jf-alert__content {
      display: flex;
    }
  }
}
