@import "_vars.scss";
@import "_typography.scss";

// Login via Nav styled by StandalonePage

.EmailAlertSignup .Login,
.ReactModalPortal .Login {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .page-title {
    margin-top: 0.9375rem;
  }

  .jf-alert {
    width: auto;
    font-size: 0.81rem;

    .jfcl-button.jfcl-variant-text {
      display: block !important;
      color: $justfix-white;
    }

    .jf-alert__content {
      display: flex;
      text-align: left;
    }
  }

  h4 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  h5 {
    font-size: 0.63rem;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .submit-button-group {
      display: flex;

      .jfcl-button.jfcl-variant-primary {
        padding: 1rem 2rem !important;
        align-self: center;
        margin: 0 auto !important;
      }
    }
  }

  .didnt-get-link {
    text-align: center;
  }

  .send-new-link-container {
    justify-content: center;
  }

  .login-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .privacy-links {
      text-align: center;
      max-width: 20rem;
      margin: 0 auto;
    }

    .login-type-toggle,
    .forgot-password {
      display: flex;
      justify-content: center;
    }

    .privacy-links,
    .login-type-toggle,
    .forgot-password,
    a {
      font-size: 0.875rem;
      font-weight: 400;
      color: inherit;
    }
  }
}
