@import "_vars.scss";
@import "_typography.scss";

// TODO REFACTOR THIS PAGE
.Login,
.ForgotPasswordPage,
.ResetPasswordPage {
  .input-group {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    #input-field-error {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      color: #ba4300;
      margin-bottom: 0.5rem;

      svg {
        margin-right: 0.75rem;
      }
    }

    input[type="email"],
    .password-input {
      margin-bottom: 2rem;
    }

    input[type="submit"] {
      padding: 1.6rem 3.2rem !important;
      align-self: center;
      margin: 0 auto !important;
    }

    input:invalid,
    .invalid {
      border-color: $justfix-orange;
    }

    input:focus:invalid,
    .invalid:focus {
      border-color: $justfix-black;
    }
  }

  .page-title {
    margin-top: 1.5rem;
  }

  label {
    @include desktop-eyebrow();
    // vars marked !important bc typography mixin is not available for inconsolata
    font-weight: 600 !important;
    font-family: $wow-font !important;
    font-size: 1.3rem !important;

    text-align: left;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .building-page-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .privacy-modal {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem 0 2rem 0;

      .info-icon {
        margin-left: .4rem;
        width: 18px;
        &:focus-visible {
          outline: 2px solid $focus-outline-color;
          outline-offset: 2px;
        }
      }
    
    }
    
    .login-type-toggle {
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
    }
  }


  .login-response-text {
    margin: 1rem 0 1rem;
  }

  .login-password-label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      flex: 1;
    }
  }

  h4 {
    font-size: 2.4rem;
  }
  h5 {
    font-size: 1.6rem;
  }

  .password-input {
    margin-top: 0.5rem;
  }

  .jf-alert {
    width: auto;
    font-size: 1.3rem;

    .button.is-text {
      display: block !important;
      color: $justfix-white;
    }

    .jf-alert__content {
      display: flex;
      text-align: left;
    }
  }

  .request-sent-success {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      margin: 1rem 0 2.5rem 0;
    }

    .button.is-text {
      margin-top: 1rem;
      display: block !important;
      color: $justfix-black;
    }
  }

}
