.ReactModal__Overlay--after-open {
  z-index: 100;

  .ReactModal__Close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    transition: none;
  }

  .ReactModal__Content {
    transform: translate(-50%, -50%);
    min-width: 300px;

    h5 {
      margin-bottom: 1.5rem;
      margin-top: 2.5rem;
    }

    .first-header {
      margin-top: 0;
    }
  }
}
