@import "_vars.scss";

.ReactModal__Overlay--after-open {
  z-index: 120;

  .ReactModal__Close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    transition: none;
  }

  .ReactModal__Content {
    transform: translate(-50%, -50%);
    min-width: 300px;

    h5 {
      margin-bottom: 1.5rem;
      margin-top: 2.5rem;
    }

    .first-header {
      margin-top: 0;
    }

    .btn {
      white-space: normal;
    }

    .img-responsive {
      border: 1px solid $dark;
    }

    @include for-phone-only() {
      // Force override on custom styling defined in Modal.tsx
      padding: 30px 20px !important;

      h5 {
        margin-top: 0;
      }

      ul {
        margin-left: 0;
        li {
          margin: 0;
        }
      }
    }
  }
}
