@import '_vars.scss';


// TODO: create shared box component b/t this and HomePage
.NotRegisteredPage .HomePage__search {

  background-color: $background;
  border: 1px solid $gray-dark;
  
  padding: 20px;
  width: 85vw;

  @include for-tablet-portrait-up() {
    width: 65vw;
    padding: 35px;
  };

  h5 {
    font-size: 1.5em;
  }

  img {
    width: 80%;
    margin: 15px auto;
  }

  a.btn-block:not(.btn-link) {
    max-width: 300px;
    margin: 10px auto 0 auto;
  }

  a.btn-link {
    text-decoration: underline;
  }




  .btn-group {
    // margin-bottom: 10px;
    &:first-child {

      .btn { border-bottom: none; }


    }

    @media screen and (max-width: 713px ) {
      .btn:first-child {
        border-bottom:none;
      }
    }
  }
}
