@import "_vars.scss";
@import "_datatable.scss";

// TODO: create shared box component b/t this and HomePage
.NotRegisteredPage .HomePage__search {
  background-color: $background;
  border: 1px solid $gray-dark;

  padding: 20px;
  width: 85vw;

  @include for-tablet-portrait-up() {
    max-width: 700px;
    padding: 35px;
    margin: 4rem auto;
  }

  @include for-phone-only() {
    width: 100%;
    border: none;
  }

  h5 {
    font-size: 1.5em;
  }

  button.is-link {
    text-decoration: underline;
    color: #0072a4;
    &:hover {
      color: #2f3540;
    }
  }

  .wrapper {
    margin: auto;
    @include for-tablet-portrait-up() {
      width: 80%;
    }

    .bbl-link {
      text-align: center;
    }

    img.streetview {
      margin: 15px auto;
    }

    a.btn-block:not(.btn-link):not(.btn-justfix) {
      max-width: 300px;
      margin: 10px auto 0 auto;
    }

    p,
    span {
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }

    a.btn {
      max-width: 100%;
      white-space: normal;
      @include for-phone-only() {
        width: 100%;
      }
    }

    .card-body {
      margin: 30px auto 0px auto;

      @include datatable();

      .nycha-addresses {
        margin-top: 2rem;

        b {
          display: block;
          border-bottom: 1px solid $gray-dark;

          &:hover {
            cursor: help;
          }
        }

        ul {
          margin-top: 1rem;
          margin-left: 0;
          list-style-type: none;
        }
      }
    }

    .card-body-links {
      ul,
      ol {
        margin: 1rem 0.5rem;

        li {
          margin-top: 0.5rem;
          line-height: 1.8rem;
        }
      }
    }
    .justfix-cta,
    .social-share {
      margin-top: 2rem;
    }

    .btn-group {
      // margin-bottom: 10px;
      &:first-child {
        .btn {
          border-bottom: none;
        }
      }

      @media screen and (max-width: 713px) {
        .btn:first-child {
          border-bottom: none;
        }
      }
    }
  }
}
