@import '_vars.scss';
@import '_datatable.scss';


// TODO: create shared box component b/t this and HomePage
.NotRegisteredPage .HomePage__search {

  background-color: $background;
  border: 1px solid $gray-dark;
  
  padding: 20px;
  width: 85vw;

  @include for-tablet-portrait-up() {
    width: 65vw;
    padding: 35px;
  };

  @include for-phone-only() {
    .text-large {
      font-size: 1.15em;
    }
  }

  h5 {
    font-size: 1.5em;
  }

  .wrapper {
    width: 80%;
    margin: auto;

    .bbl-link {
      text-align: center;
    }

    img.streetview{
      
      margin: 15px auto;
    }

    a.btn-block:not(.btn-link):not(.btn-justfix) {
      max-width: 300px;
      margin: 10px auto 0 auto;
    }

    p, span {
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    } 

    a.btn {
      display: table;
      white-space: normal;
    }

    .card-body {
      margin: 30px auto 0px auto;
      
      @include datatable();

      .nycha-addresses {

        margin-top: 2rem;

        b {
          display: block;
          border-bottom: 1px solid $gray-dark;

          &:hover {
            cursor: help;
          }
        }

        ul {
          margin-top: 1rem;
          margin-left: 0;
          list-style-type:none;
        }
      }
    }

    .justfix-cta, .social-share {
      margin-top: 2rem;
    }

    .btn-group {
      // margin-bottom: 10px;
      &:first-child {

        .btn { border-bottom: none; }


      }

      @media screen and (max-width: 713px ) {
        .btn:first-child {
          border-bottom:none;
        }
      }
    }
  }
}
