@import 'styles/_vars.scss';

.OwnersTable {
  .contacts {
    display: flex;
    flex-wrap: wrap;

    .label {
      border: 1px solid #f0f1f4;
      margin-right: 15px;
      margin-bottom: 10px;
      padding: 4px 10px;

      &.cat-corp small {
        color: #32b643;
      }
      &.cat-owner small {
        color: $primary-color;
      }
      &.cat-rba small {
        color: #e85600;
      }

      h6 {
        margin-bottom: 0;
      }
    }
  }

  .container {
    padding-left: 0;
    padding-right: 0;

    .column {
      padding-top: 0;
      padding-bottom: 15px;

      p {
        line-height: 1.5;
        font-weight: bold;
        border-bottom: 1px solid $gray-dark;
        color: #000000;
      }

      ul {
        list-style: disc outside;
        margin-top: 1rem;
        margin-bottom: 0.75rem;

        li:not(:first-child) {
          margin-top: 0rem;
        }

        &.owners {
          list-style: disc inside;
          margin-left: 0;
          // column-count: 2;
          // column-gap: 20px;

          li {
            margin-top: 0rem;
            display: inline-block;
            width: 50%;

            &:before {
              content: "•";
              font-size: 23px;
              line-height: 0;
              position: relative;
              top: 3px;
              margin-right: 9px;
            }
          }

        }
      }
    }
  }
}
