@import 'styles/_vars.scss';

.contacts {
  // margin: 0 auto;
  // max-width: 90vw;
  display: flex;
  // justify-content: center;
  flex-wrap: wrap;

  .label {
    border: 1px solid #f0f1f4;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 4px 10px;

    &.cat-corp small {
      color: #32b643;
    }
    &.cat-owner small {
      color: $primary-color;
    }
    &.cat-rba small {
      color: #e85600;
    }

    h6 {
      margin-bottom: 0;
    }
  }
}
