@import "_vars.scss";
@import "_typography.scss";

.password-input-field {
  .password-input-label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      @include body-standard;
      // vars marked !important bc typography mixin is not available for inconsolata
      // font-weight: 600 !important;
      font-family: $wow-font !important;
      font-size: 1.3rem !important;
      line-height: 120%;
      color: $justfix-black;

      text-align: left;
      margin-bottom: 0.5rem;
    }

    a {
      color: $justfix-black;
      font-size: 1.3rem;
    }
  }

  .password-input {
    display: flex;

    input {
      flex: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:invalid,
      &.invalid {
        border-color: $justfix-orange;
      }

      &:focus:invalid,
      &.invalid:focus {
        border-color: $justfix-black;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $justfix-white;
      background-color: $justfix-black;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      width: 4rem;
    }
  }

  .password-input-rules {
    display: flex;
    flex-direction: column;
  }

  .password-input-rule {
    @include body-standard;

    font-family: $wow-font !important;
    font-size: 1.3rem !important;
    // font-weight: 500 !important;
    line-height: 120%;
    text-transform: none !important;
    color: $justfix-black;
    text-align: left;

    &::before {
      content: "•";
      display: inline-block;
      margin-right: 0.5rem;
      vertical-align: top;
    }

    // encoded SVG from https://yoksel.github.io/url-encoder/
    &.invalid:before {
      content: url("data:image/svg+xml, %3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 14C3.14 14 0 10.8599 0 7C0 3.14007 3.14007 0 7 0C10.8599 0 14 3.14007 14 7C14 10.84 10.8599 14 7 14Z' fill='%23FF813A' /%3E%3Cpath d='M7 8.75C6.50422 8.75 6.125 8.37612 6.125 7.88729V3.48771C6.125 2.9989 6.50421 2.625 7 2.625C7.49579 2.625 7.875 2.99888 7.875 3.48771V7.88729C7.875 8.3763 7.49579 8.75 7 8.75Z' fill='%23FAF8F4' /%3E%3Cpath d='M6.97194 11.375C6.74608 11.375 6.52022 11.2879 6.37902 11.1136C6.20967 10.9394 6.125 10.736 6.125 10.5036C6.125 10.4455 6.125 10.3875 6.15316 10.3294C6.15316 10.2712 6.18132 10.2133 6.20967 10.1551C6.23783 10.097 6.26619 10.068 6.29435 10.0099C6.3225 9.95174 6.35086 9.92277 6.40718 9.86462C6.71771 9.54513 7.28225 9.54513 7.59282 9.86462C7.62098 9.89359 7.6775 9.95174 7.70565 10.0099C7.73381 10.068 7.76217 10.097 7.79033 10.1551C7.81849 10.2133 7.81849 10.2712 7.84684 10.3294C7.84684 10.3875 7.875 10.4455 7.875 10.5036C7.875 10.736 7.79033 10.9684 7.62098 11.1136C7.42367 11.2879 7.19781 11.375 6.97195 11.375H6.97194Z' fill='%23FAF8F4' /%3E%3C/svg%3E%0A");
    }

    &.invalid {
      color: #ba4300;
    }

    &.valid {
      color: $justfix-green;
    }

    &.valid::before {
      content: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.16666 7.97664L5.83332 12.6433L15.8333 2.64331' stroke='%231AA551' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
    }
  }

  .password-input-errors {
    display: flex;
    flex-direction: column;

    span {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      color: #ba4300;
      margin-bottom: 0.5rem;

      svg {
        margin-right: 0.75rem;
      }
    }
  }
}
