@import "_vars.scss";
@import "_typography.scss";

.password-input-field {
  .password-input-label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      @include body-standard;
      // vars marked !important bc typography mixin is not available for inconsolata
      // font-weight: 600 !important;
      font-family: $wow-font !important;
      font-size: 0.8125rem !important;
      line-height: 120%;
      color: $justfix-black;

      text-align: left;
    }

    a {
      color: $justfix-black;
      font-size: 0.8125rem;
    }
  }

  .password-input {
    display: flex;

    input {
      flex: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:focus {
        border: 2px $justfix-black solid;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      }

      &:invalid,
      &.invalid {
        border-color: $justfix-orange;
      }

      &:focus:invalid,
      &.invalid:focus {
        border-color: $justfix-black;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $justfix-white;
      background-color: $justfix-black;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      width: 2.5rem;
    }
  }

  .password-input-rules {
    display: flex;
    flex-direction: column;
  }

  .password-input-rule {
    display: flex;
    @include body-standard;

    font-family: $wow-font !important;
    font-size: 0.8125rem !important;
    line-height: 120%;
    text-transform: none !important;
    color: $justfix-black;
    text-align: left;

    &.invalid {
      color: #ba4300;
    }

    &.valid {
      color: $justfix-green;
    }

    svg {
      width: 0.875rem;
      height: 0.875rem;
      vertical-align: text-bottom;
    }
  }

  .password-input-errors {
    display: flex;
    flex-direction: column;

    span {
      display: flex;
      font-size: 0.8125rem;
      color: #ba4300;

      svg {
        height: 0.875rem;
        width: 0.875rem;
      }
    }
  }
}
