@import "_vars.scss";
@import "_scrollbar.scss";
@import "_button.scss";
@import "_typography.scss";

@mixin white-on-black {
  background-color: $justfix-black;
  color: $justfix-white;
  border-color: $justfix-white;
}

@mixin wrap-with-parentheses {
  &::before {
    content: "(";
  }
  &::after {
    content: ")";
  }
}

.PortfolioFilters {
  --new-container-width: 10.2rem;
  --filter-bar-gap: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--filter-bar-gap);
  padding: 1.4rem;
  background-color: $justfix-table-grey;
  text-transform: uppercase;

  font-family: $wow-font;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 100%;
  letter-spacing: 0.02em;

  @include for-phone-only() {
    gap: 1.2rem;
  }

  .filter-new-container {
    text-align: right;
    width: var(--new-container-width);
    letter-spacing: 0.04em;
    display: flex;
    flex-direction: column;

    .pill-new {
      align-self: flex-end;
      font-family: $body-font;
      letter-spacing: 0.02em;
      background: $justfix-yellow;
      padding: 0.5rem 1rem;
      border-radius: 1.6rem;
      width: fit-content;
      margin-bottom: auto;
    }

    @include for-phone-only() {
      width: unset;
      justify-content: center;
      .pill-new {
        margin: 0;
      }
    }
  }

  .filters {
    --checkbox-height: 2.4rem;

    display: flex;
    flex-grow: 1;
    gap: 1.8rem;

    .filter {
      border: 0.1rem solid $justfix-black;
      border-radius: 0.8rem;
      text-transform: uppercase;
      display: flex;
      align-items: center;

      &.active:not([open]),
      &[aria-pressed="true"] {
        @include white-on-black();
      }
      &:not([open]):hover,
      [open] summary {
        text-decoration: underline;
        text-underline-position: under;
      }
      &:focus-visible {
        box-shadow: none;
        outline: 2px solid $focus-outline-color;
        outline-offset: 2px;
      }
    }

    .filter-toggle {
      gap: 1rem;
      padding: 1rem;
      .checkbox {
        box-sizing: border-box;
        border: 0.1rem solid $justfix-black;
        border-radius: 0.4rem;
        width: var(--checkbox-height);
        height: var(--checkbox-height);
        display: flex;
        justify-content: center;
        align-items: center;
        color: $justfix-white;
        @include for-phone-only {
          order: 1;
          margin-left: auto;
        }
      }
      &[aria-pressed="true"] {
        .checkbox {
          border-color: $justfix-white;
        }
      }
    }

    .filter-accordion {
      position: relative;

      summary {
        // height based on toggle toggle checkbox plus 1rem padding
        height: calc(var(--checkbox-height) + 1rem * 2);
        padding: 0 1rem 0 1rem;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        &::-webkit-details-marker {
          display: none;
        }
        .chevronIcon,
        .closeIcon {
          stroke-width: 2px;
          margin-left: 0.8rem;
        }
      }
      .filter-selection-count {
        @include for-tablet-portrait-up() {
          margin-left: 1em;
          @include wrap-with-parentheses();
        }
        @include for-phone-only() {
          @include white-on-black();
          padding: 0.25rem 0.5rem;
          border-radius: 1rem;
          margin-left: 0.8rem;
        }
      }
      &[open] {
        > summary {
          svg {
            transform: scaleY(-1);
          }
          @include for-phone-only() {
            .chevronIcon,
            .closeIcon {
              margin-left: auto;
            }
          }
        }

        &.ownernames-accordion .dropdown-container {
          width: 25.2rem;
          @include for-phone-only {
            width: unset;
          }
        }

        &.zip-accordion .dropdown-container {
          width: 15rem;
          @include for-phone-only {
            width: unset;
          }
        }

        .dropdown-container {
          position: absolute;
          top: 5rem;
          left: -0.1rem;
          z-index: 100;
          overflow-y: scroll;
          max-height: calc(100vh - 25rem);
          padding: 0.6rem 1.2rem 1.2rem 1.2rem;
          background-color: $justfix-table-grey;
          box-sizing: border-box;
          border: 0.1rem solid $justfix-black;
          border-radius: 0.8rem;

          & > div {
            width: 100%;
          }

          .filter-subtitle-container {
            font-size: 1.2rem;
            color: $justfix-grey-700;
            display: flex;
            width: 100%;
            .filter-subtitle {
              margin-right: auto;
            }

            .filter-info:focus-visible {
              box-shadow: none;
              outline: 2px solid $focus-outline-color;
              outline-offset: 2px;
            }
          }

          .multiselect-container,
          .minmax-container {
            display: flex;
            flex-direction: column;
            margin: 0.8rem 0;
            input {
              font-size: 1.6rem;
            }
          }
          .minmax-container {
            padding: 1.2rem;
            border-top: 1px solid $justfix-grey;
            @include for-phone-only {
              border-top: none;
              padding-left: 0;
            }

            .labels-container {
              display: flex;
              color: $justfix-grey-700;
              margin-bottom: 0.4rem;
              label:first-child {
                margin-right: auto;
              }
            }
            .inputs-container {
              display: flex;
              gap: 1rem;
              align-items: center;
              justify-content: center;
              input {
                background-color: $justfix-white;
                width: 4.4rem;
                height: 4.4rem;
                border: 0.1rem solid $justfix-black;
                border-radius: 0.2rem;
                padding: 0.5rem;
                // remove increment arrows
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
                -moz-appearance: textfield;

                &:focus-visible {
                  outline: none;
                }
                &.hasError {
                  outline: 2px $justfix-orange solid;
                  outline-offset: -2px;
                }
              }
            }
          }
          .multiselect-container {
            .optionListContainer {
              position: static;
            }
            .owner-info-alert {
              color: $justfix-grey-600;
              outline: $justfix-grey-400 solid 1px;
              margin-top: 1.2rem;
              button:not(:focus-visible) {
                outline: none;
              }
            }
          }

          .search-wrapper,
          .optionListContainer {
            background-color: $justfix-white;
            outline: 1px solid $justfix-grey;
            border-radius: unset;
            border: none;
          }
          .search-wrapper {
            &.hasError {
              outline: 2px $justfix-orange solid;
              outline-offset: -2px;
            }
            input {
              width: -webkit-fill-available;
              height: -webkit-fill-available;
            }
          }

          .optionsContainer,
          ul {
            border: none;
            list-style-type: none;
          }
          .selectedListContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 0.4rem;

            .chip {
              align-self: flex-start;
              background-color: $justfix-black;
              color: $justfix-white;
              border-radius: 0.8rem;
              padding: 0 0 0 1.4rem;
              white-space: pre-line;
              height: unset;

              button {
                margin-left: 1.2rem;
                padding: 1.25rem;
                .closeIcon {
                  height: 1rem;
                  width: 1rem;
                  stroke-width: 0.2rem;
                }
              }

              &.chip-more {
                background-color: $justfix-table-grey;
                color: $justfix-black;
                border: 1px solid $justfix-black;
                padding: 0.8rem 0.6rem;
                margin-bottom: 1.1rem;
              }
            }
          }
          .clear-all-container {
            display: flex;
            .button.is-text {
              color: $justfix-grey-700;
              &.show-less {
                margin: 1.2rem 0 0 1.2rem;
              }
              &.clear-all {
                margin: 0.8rem 0 0.9rem auto;
              }
            }
          }
          .button.is-primary {
            align-self: center;
            margin: 0.9rem 0 1rem 0;
          }
          @include for-phone-only() {
            .minmax-container .button.is-primary {
              align-self: flex-start;
            }
          }
        }
      }
    }
    .filters-mobile-wrapper {
      &.active:not([open]) {
        @include white-on-black();
        .active-filter-count {
          margin-left: 1em;
          @include wrap-with-parentheses();
        }
      }
      &[open] {
        --filter-bar-top-height: 4.6rem;
        --filter-bar-height: 6.6rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: var(--filter-bar-top-height);
        background-color: $justfix-table-grey;
        border-radius: 0.8rem 0.8rem 0 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 0.2rem solid $justfix-grey-700;
        outline: 1rem solid $justfix-grey-700;
        & > summary {
          padding: 0 2.4rem;
        }
        .dropdown-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 0;
          background-color: $justfix-table-grey;
          border-radius: 0;
          border: none;
          top: unset;
        }
        & > .dropdown-container {
          position: absolute;
          top: calc(var(--filter-bar-top-height)); // borders
          left: 0;
          max-height: none;
          height: calc(100vh - var(--filter-bar-top-height));

          &.scroll-gradient {
            // https://css-scroll-shadows.vercel.app/
            --clear: rgba(0, 0, 0, 0);
            --dark: rgba(140, 140, 140, 0.5);
            background: linear-gradient($justfix-table-grey 10%, var(--clear)),
              linear-gradient(var(--clear), $justfix-table-grey 90%) 0 100%,
              linear-gradient(var(--dark) 10%, var(--clear)),
              linear-gradient(var(--clear), var(--dark) 90%) 0 100%;
            background-color: $justfix-table-grey;
            background-repeat: no-repeat;
            background-attachment: local, local, scroll, scroll;
            background-size: 100% 6rem, 100% 6rem, 100% 2rem, 100% 2rem;
          }

          .filter {
            border-radius: 0;
            box-sizing: border-box;
            border: none;
            border-bottom: 0.1rem solid $justfix-grey-400;
            &.filter-toggle {
              height: var(--filter-bar-height);
              min-height: var(--filter-bar-height);
              padding: 0 2.4rem;
              &[aria-pressed="false"]:hover,
              &[aria-pressed="true"] {
                text-decoration: none;
              }
            }
            &.filter-accordion > summary {
              height: var(--filter-bar-height);
              padding: 0 2.4rem;
            }
            &.active:not(.filter-toggle) {
              background-color: $justfix-table-grey;
              color: $justfix-black;
              text-decoration: none;
            }
            &[open] {
              outline: none;
              text-decoration: none;
            }
            @include for-phone-only {
              .dropdown-container {
                align-items: flex-start;
                width: 100%;
                padding: 0 2.4rem;
                .filter-subtitle-container {
                  padding: 0;
                  .filter-subtitle {
                    font-size: 1.6rem;
                  }
                  .filter-info {
                    font-size: 1.4rem;
                  }
                }
                .jf-alert {
                  margin-left: 0;
                  margin-right: 0;
                }
              }
            }
          }

          .filter-accordion {
            summary {
              position: relative;
              .chevronIcon {
                @include for-phone-only() {
                  margin-left: auto;
                }
              }
            }
            .dropdown-container {
              position: relative;
            }
          }
          .search-wrapper {
            height: 5rem;
          }
          .zip-accordion {
            .clear-all-container,
            .search-wrapper,
            .optionListContainer {
              width: 18.8rem;
            }
          }
          .zip-accordion,
          .ownernames-accordion {
            .clear-all.button.is-text {
              margin-left: auto;
              margin-right: 0;
            }
            .button.is-primary {
              align-self: unset;
            }
          }
          .button.is-primary {
            padding: 1.6rem 3.2rem;
            .view-results-count {
              margin-left: 1em;
              @include wrap-with-parentheses();
            }
          }
          .zero-results-alert {
            margin: 1.4rem 2.45rem 0 2.45rem;
            width: fit-content;
            outline: $justfix-grey-400 solid 1px;
          }
        }
      }
    }
  }
  .filter-status {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    @include for-tablet-portrait-up() {
      margin-left: calc(var(--new-container-width) + var(--filter-bar-gap));
    }

    .filter-status-info {
      display: flex;
      align-items: center;
      gap: 0.85rem;
      text-transform: none;

      .results-count {
        font-size: 1.6rem;
        color: $justfix-grey-600;
      }
      .results-info {
        color: $justfix-grey-600;
      }
      .clear-filters {
        color: $justfix-grey-700;
      }
    }

    .zero-results-alert {
      width: fit-content;
      outline: $justfix-grey-400 solid 1px;
      @include for-phone-only() {
        margin-left: unset;
      }
    }
  }

  .filter-toast-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 101;

    .filter-toast-alert {
      position: relative;
      transform: translateY(100%);
      outline: $justfix-grey-400 solid 1px;
      width: 45.4rem;
      @include for-phone-only() {
        width: calc(100vw - 2.8rem);
      }

      @keyframes toast-up-down {
        0% {
          transform: translateY(100%);
        }
        25% {
          transform: translateY(0%);
        }
        75% {
          transform: translateY(0%);
        }
        100% {
          transform: translateY(100%);
        }
      }

      animation-name: toast-up-down;
      animation-delay: 0.3s;
      animation-duration: 7s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;

      &:hover {
        animation-play-state: paused;
      }
    }

    :not(:first-child) {
      display: none;
    }
  }
}
.ReactModal__Content {
  p a {
    color: $justfix-black;
  }
}
