@import "_vars.scss";
@import "_scrollbar.scss";
@import "_button.scss";

$justfix-table-grey: #f2f2f2;

.PortfolioFilters {
  display: flex;
  gap: 1.8rem;
  padding: 1.4rem;
  background-color: $justfix-table-grey;
  text-transform: uppercase;

  // TODO: design system typography
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 100%;
  letter-spacing: 0.02em;

  .filter-for {
    text-align: right;
    min-width: 10.2rem;
    letter-spacing: 0.04em;
    display: flex;
    flex-direction: column;

    .pill-new {
      align-self: flex-end;
      font-family: "Degular", Arial, Helvetica, sans-serif;
      letter-spacing: 0.02em;
      background: $justfix-yellow;
      padding: 0.5rem 1rem;
      border-radius: 1.6rem;
      width: fit-content;
      margin-bottom: 1rem;
    }
  }

  .filters-container {
    display: flex;
    flex-direction: column;

    .filters {
      display: flex;
      gap: 1.8rem;

      .filter-toggle {
        border: 0.1rem solid $justfix-black;
        border-radius: 0.8rem;
        text-transform: uppercase;
        padding: 1rem;
        display: flex;
        align-items: center;

        &:focus-visible {
          box-shadow: none;
          outline: 2px solid #727e96;
          outline-offset: 2px;
        }
        &:hover {
          text-decoration: underline;
          text-underline-position: under;
        }
        .checkbox {
          box-sizing: border-box;
          border: 0.1rem solid $justfix-black;
          border-radius: 0.4rem;
          width: 2.4rem;
          height: 2.4rem;
          margin-right: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $justfix-white;
        }

        &[aria-pressed="true"] {
          background-color: $justfix-black;
          color: $justfix-white;
          .checkbox {
            border-color: $justfix-white;
          }
        }
      }

      .filter-accordion {
        border: 0.1rem solid $justfix-black;
        border-radius: 0.8rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        position: relative;

        &:not([open]):hover {
          text-decoration: underline;
          text-underline-position: under;
        }

        &.active:not([open]) {
          background-color: $justfix-black;
          color: $justfix-white;
        }

        summary {
          // typical flex stretch doesn't seem to work in summary/details
          height: 100%;
          display: flex;
          align-items: center;
          position: relative;
          padding: 0 1rem;
          cursor: pointer;

          &::-webkit-details-marker {
            display: none;
          }
          .chevonIcon {
            margin-left: 0.8rem;
            stroke-width: 2px;
            stroke-linejoin: miter;
          }
        }
        &[open] {
          summary {
            text-decoration: underline;
            text-underline-position: under;
            svg {
              transform: scaleY(-1);
            }
          }

          &#ownernames-accordion {
            .dropdown-container {
              width: 25.2rem;
            }
          }

          &#zip-accordion {
            .dropdown-container {
              width: 14.1rem;
            }
          }

          .dropdown-container {
            position: absolute;
            top: 5rem;
            left: -0.1rem;
            z-index: 100;
            overflow-y: scroll;
            max-height: calc(100vh - 25rem);
            padding: 0.6rem 0 1.2rem 0;
            background-color: $justfix-table-grey;
            box-sizing: border-box;
            border: 0.1rem solid $justfix-black;
            border-radius: 0.8rem;

            .filter-subtitle-container {
              padding: 0 1.2rem;
              font-size: 1.2rem;
              color: $justfix-grey-700;
              display: flex;
              .filter-subtitle {
                margin-right: auto;
              }

              .filter-info:focus-visible {
                box-shadow: none;
                outline: 2px solid #727e96;
                outline-offset: 2px;
              }
            }

            .multiselect-container,
            .minmax-container {
              display: flex;
              flex-direction: column;
              margin-top: 0.8rem;
            }
            .minmax-container {
              padding: 1.2rem;
              border-top: 1px solid $justfix-grey;

              .labels-container {
                display: flex;
                color: $justfix-grey-700;
                margin-bottom: 0.4rem;
                label:first-child {
                  margin-right: auto;
                }
              }
              .inputs-container {
                display: flex;
                gap: 1rem;
                align-items: center;
                justify-content: center;
                input {
                  background-color: $justfix-table-grey;
                  width: 4.4rem;
                  height: 4.4rem;
                  border: 0.1rem solid $justfix-black;
                  border-radius: 0.2rem;
                  padding: 1rem 1.2rem;
                  // remove increment arrows
                  &::-webkit-outer-spin-button,
                  &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                  }
                  -moz-appearance: textfield;

                  &.hasError {
                    outline: 2px $justfix-orange solid;
                    outline-offset: -2px;
                  }
                  &:focus-visible {
                    outline: none;
                  }
                }
              }
            }
            .multiselect-container {
              .optionListContainer {
                position: static;
              }
              .owner-info-alert {
                color: $justfix-grey-600;
                outline: $justfix-grey-400 solid 1px;
                margin: 1.2rem 1.2rem 0 1.2rem;
                button {
                  outline: none;
                }
              }
            }
            .search-wrapper {
              border-top: 1px solid $justfix-grey;
              border-bottom: 1px solid $justfix-grey;
              border-radius: unset;
            }
            .optionListContainer {
              background-color: #f2f2f2;
              border-bottom: 1px solid $justfix-grey;
              border-radius: unset;
              .optionsContainer,
              ul {
                border: none;
                list-style-type: none;
              }
            }
            .chip {
              align-self: flex-start;
              background-color: $justfix-black;
              color: $justfix-white;
              border-radius: 0.8rem;
              padding: 0.8rem 1.4rem;
              margin: 0 1.2rem 0.6rem 1.2rem;
              white-space: pre-line;
              height: unset;

              .closeIcon {
                height: 0.9rem;
                width: 0.9rem;
                stroke-width: 0.15rem;
                margin-left: 1.6rem;
              }

              &.chip-more {
                background-color: $justfix-table-grey;
                color: $justfix-black;
                border: 1px solid $justfix-black;
                margin-bottom: 1.1rem;
              }
            }
            .button.is-text {
              color: $justfix-grey-700;
              &.show-less {
                margin: 1.2rem 0 0 1.2rem;
                align-self: flex-start;
              }
              &.clear-all {
                margin: 0.8rem 1.2rem 0.9rem 0;
                align-self: flex-end;
              }
            }
            .button.is-primary {
              align-self: center;
              margin: 0.9rem 0 1rem 0;
            }
          }
        }
      }
    }
    .filter-status {
      display: flex;
      gap: 0.85rem;
      margin-top: 1.5rem;
      text-transform: none;

      .results-count {
        font-size: 1.6rem;
        color: $justfix-grey-600;
      }
      .results-info {
        color: $justfix-grey-600;
      }
      .clear-filters {
        color: $justfix-grey-700;
      }
    }
  }
}
.ReactModal__Content {
  p {
    a {
      color: $justfix-black;
    }
  }
}
