@import "_vars.scss";
@import "_scrollbar.scss";
@import "_button.scss";

$table-border-light: 1px solid $gray-light;
$table-border-dark: 1px solid $dark;

.PropertiesList {
  height: 100%;
  width: 100%;
  // These next 2 items ensure that the fade effect from the "::after"
  // component doesn't overflow past the edge of the PropertiesList container
  position: relative;
  overflow: auto;

  .ReactTable {
    border-top: none;
    border-left: none;
    border-color: $gray-dark;

    .arrow-icon {
      display: inline-block;
      margin-left: 0.5rem;
      span {
        // This small adjustment aligns second arrow in icon with first
        display: inline-block;
        transform: translateY(0.5px);
      }
    }

    .rt-thead {
      max-height: 30px;
      .rt-tr .rthfc-th-fixed.rthfc-th-fixed-left {
        position: fixed;
        // This display prop makes sure that the fixed table cells
        // fill up their entire allotted spaces
        display: list-item;
        z-index: 5;
      }

      &.-headerGroups .rthfc-th-fixed {
        border-bottom: $table-border-light;
      }

      &.-header .rt-tr {
        border-bottom: $table-border-dark;
      }

      .rt-th {
        padding: 7px 5px;
      }
    }

    .rt-thead.-headerGroups {
      background-color: #fff;
      border-color: $gray-light;
      font-weight: bold;
      color: #000;
    }

    .rt-thead.-header {
      box-shadow: none;
      border-bottom: $table-border-dark;
    }

    .rt-td {
      text-align: center;
    }

    .rt-tbody {
      .rt-tr-group {
        border-bottom: $table-border-light;
        .rt-td {
          border-right: $table-border-light;
        }
      }
    }
  }

  // Add right-side fade out when list is scrollable:
  &::after {
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    z-index: 10;
    background: -moz-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
  }

  &.hide-scroll-fade::after {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
  }
}
