@import "_vars.scss";
@import "_scrollbar.scss";
@import "_button.scss";

.PropertiesSummary {
  position: relative;
  // @include for-phone-only() {
  //   padding-right: 30px;
  // };

  .PropertiesSummary__content {
    padding: 30px 45px 104px 30px;

    @include for-tablet-portrait-up() {
      padding: 45px 45px 104px 45px;
    }

    & > div > h6 {
      font-size: 1.6rem;
      margin-bottom: 0.6rem;
      text-decoration: underline;
      font-weight: bold;
      // Override default styling in App.scss
      &:first-child {
        width: 100%;
      }
    }

    p {
      font-size: 1.6rem;
      margin-bottom: 2.4rem;
    }

    aside {
      @include for-tablet-landscape-up() {
        width: 32%;
        margin-left: 40px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .network-legend {
      // position: absolute;
      // top: 0;
      // left: 0;
      // padding: 1rem;
      // padding-left: 5.5rem;
      padding-bottom: 1rem;
      z-index: 10;
      display: grid;
      grid-template-columns: 3rem 1fr;
      gap: 1rem;
      cursor: inherit;

      .network-legend-symbol {
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
          content: "";
          position: relative;
          display: inline-block;
          flex: none;
        }

        &.symbol-owner {
          margin: 1rem 0.5rem;
          height: 2rem;
          width: 2rem;
          border-radius: 2rem;
          background-color: $justfix-grey-dark;
        }
        &.symbol-name {
          height: 0rem;
          padding-top: 0.75rem;
          width: 3rem;
          border-bottom: 3px dashed $justfix-green;
        }
        &.symbol-bizaddr {
          height: 0rem;
          padding-top: 0.75rem;
          width: 3rem;
          border-bottom: 3px solid $justfix-blue;
        }
      }

      .network-legend-label {
        font-weight: bold;
        .network-legend-sublabel {
          font-weight: normal;
        }
      }
    }
    .portfolio-graph-container {
      position: relative;
      .Loader-map {
        height: calc(55vh + 6.25rem);
      }
      .portfolio-graph {
        position: relative;
        padding: 1rem;
        margin-bottom: 2rem;
        border: 1px dashed $wowza-dark;

        div:not(.float-left) {
          cursor: pointer;
        }

        .btn-group {
          position: absolute;
          flex-direction: column;
          z-index: 10;
          .btn {
            flex-grow: 0;
            margin-left: 0;
            font-size: 2rem;
          }
        }
      }

      .MapBanner {
        @include for-tablet-portrait-up {
          position: absolute;
          z-index: 100;
          bottom: 1rem;
          left: 1rem;
          margin-bottom: 0;
          width: 37.5rem;
        }
      }
    }
  }

  .PropertiesSummary__links {
    border: 1px solid $gray;
    padding: 2rem 1.5rem;
    position: relative;

    .btn {
      white-space: normal;
    }

    .PropertiesSummary__linksTitle {
      position: absolute;
      top: -19px;
      left: 7px;
      padding: 8px 9px 4px 8px;
      background-color: #fff;
    }

    h6.PropertiesSummary__linksSubtitle {
      font-weight: bold;
      margin-bottom: 0.75rem;
      width: 100%;
    }

    & > div:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
