@import '_vars.scss';

.PropertiesMap {

  display: inline-block;
  width: 65vw;
  height: 100%;


  // this allows DetailView__close to overlay the map
  position: relative;
  z-index: 5;

  .mapboxgl-map {
    height: 100%;
    width: 100%;
    overflow: hidden;

    canvas {
      display: block;
    }
  }

  .PropertiesMap__prompt {
    background: #fff;
    position: absolute;
    z-index: 10;
    // top: 0; right: -1px;
    right: 0;
    bottom: 0;
    border-left: 1px solid $dark;
    border-top: 1px solid $dark;
    padding: 4px 10px;

    p {
      text-align: center;
      margin-bottom: 0;
    }
  }
}
