@import "_vars.scss";
@import "_scrollbar.scss";
@import "_button.scss";

.PropertiesList {
  height: 100%;
  width: 100%;

  .ReactTable {
    border-top: none;
    border-color: $gray-dark;

    .rt-thead .rt-th {
      padding: 7px 5px;
    }

    .rt-thead.-headerGroups {
      background-color: #fff;
      border-color: $gray-light;
      font-weight: bold;
      color: #000;
      text-decoration: underline;
    }

    .rt-thead.-header {
      box-shadow: none;
      border-bottom: 1px solid $dark;
    }

    .rt-td {
      text-align: center;
    }

    .rt-tbody {
      overflow-y: overlay;
    }

    .-pagination {
      box-shadow: none;
      border-top: 1px solid $gray-dark;
      padding: 5px;

      .-btn {
        @include button();
        border-radius: 0;
      }
      .-btn[disabled] {
        opacity: 0.3;
        cursor: default;
      }
    }
  }

  .rt-table {
    @include scrollbar();
  }
}
