@import "_vars.scss";
@import "_scrollbar.scss";
@import "_button.scss";

.PropertiesSummary {
  position: relative;
  // @include for-phone-only() {
  //   padding-right: 30px;
  // };

  .PropertiesSummary__content {
    padding: 30px 45px 104px 30px;

    @include for-tablet-portrait-up() {
      padding: 45px 45px 104px 45px;
    }

    & > div > h6 {
      font-size: 1.4rem;
      margin-bottom: 0.6rem;
      text-decoration: underline;
      font-weight: bold;
      // Override default styling in App.scss
      &:first-child {
        width: 100%;
      }
    }

    p {
      font-size: 1.6rem;
      margin-bottom: 2.4rem;
    }

    aside {
      @include for-tablet-landscape-up() {
        width: 32%;
        margin-left: 40px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .portfolio-graph {
      position: relative;
      .btn-group {
        position: absolute;
        flex-direction: column;
        margin-top: 3.5rem;
        z-index: 1000;
        .btn {
          flex-grow: 0;
          margin-left: 0;
        }
      }
    }

    .warning-banner {
      // position: absolute;
      // z-index: 1000;
      // rounding error causes bottom=0 to be off by 1px at some zoom levels,
      // this hack seems to fix it https://stackoverflow.com/a/66623955/7051239
      // bottom: -0.4px;
      background-color: $wowza-warning;
      border-radius: 0.2rem;
      padding: 0.911rem 2.1rem 1.012rem 1.08rem;
      display: flex;
      font-size: 1.4rem;
      max-width: 47.5rem;

      .float-left {
        display: flex;
        align-items: center;
        padding: 0;
      }

      .icon {
        width: 2.536rem;
        height: 2.277rem;
        margin-right: 1.012rem;
      }

      span,
      button {
        color: black;
      }

      button {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .PropertiesSummary__links {
    border: 1px solid $gray;
    padding: 2rem 1.5rem;
    position: relative;

    .btn {
      white-space: normal;
    }

    .PropertiesSummary__linksTitle {
      position: absolute;
      top: -19px;
      left: 7px;
      padding: 8px 9px 4px 8px;
      background-color: #fff;
    }

    h6.PropertiesSummary__linksSubtitle {
      font-weight: bold;
      margin-bottom: 0.75rem;
      width: 100%;
    }

    & > div:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
