@import "_vars.scss";
@import "_mapbanner.scss";

.PropertiesMap {
  display: inline-block;
  width: 30vw;
  // height: 100%;

  @include for-phone-only() {
    width: 100%;
  }

  // this allows DetailView__close to overlay the map
  position: relative;
  z-index: 5;

  .mapboxgl-map {
    height: 100%;
    width: 100%;
    overflow: hidden;

    canvas {
      display: block;
    }

    // overrides spacing/sizing rules for MapBox attribution control
    .mapboxgl-control-container > .mapboxgl-ctrl-bottom-right {
      bottom: 115px;

      @include for-phone-only() {
        bottom: 60px;

        .mapboxgl-ctrl-attrib.mapboxgl-compact {
          margin: 0 5px 10px 10px;

          &:after {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .MapBanner__container {
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      right: 0;
      margin: 1rem 2.2rem 0 4.5rem;
      display: flex;
      flex-direction: column;
    }
  }

  .PropertiesMap__error {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
    z-index: 30;

    h4 {
      padding: 3rem;
    }
  }

  .PropertiesMap__legend {
    // background: $primary-color;
    // color: $background;
    width: 180px;
    background: #fff;
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 28px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    padding: 5px;
    padding-top: 0;
    font-size: 13px;

    p {
      font-size: 1.5rem;
      line-height: 34px;

      text-align: center;
      margin-bottom: 0;

      span {
        text-decoration: underline;
        font-weight: bold;
      }

      i {
        display: none;
        font-style: normal;
        font-size: 14px;

        @include for-phone-only() {
          display: inline;
        }
      }
    }

    ul {
      margin: 0.5rem;
      margin-top: 0;
      list-style-type: none;

      li {
        margin-top: 0.5rem;

        &:before {
          content: "";
          display: inline-block;
          height: 11px;
          width: 11px;
          border-radius: 11px;
          position: relative;
          top: 2px;
          margin-right: 7px;
          background-color: black;
          border: 1px solid #111;
        }

        &:nth-child(1) {
          margin-top: 0;
          &:before {
            background-color: $search-marker;
          }
        }

        &:nth-child(2):before {
          background-color: $assoc-marker;
        }

        &:nth-child(3):before {
          background-color: $justfix-blue;
        }
      }
    }

    @include for-phone-only() {
      width: 100%;
      border-right: 1px solid #000;
      padding-bottom: 10px;

      transform: translateY(28px);
      transition: transform 250ms ease-in-out;

      &.PropertiesMap__legend--slide {
        transform: translateY(1px);
      }

      ul li {
        float: left;

        &:nth-child(2) {
          margin-top: 0;
          margin-left: 15px;
        }
      }
    }
  }

  .PropertiesMap__prompt {
    width: 180px;
    background: #fff;
    position: absolute;
    z-index: 10;
    // top: 0; right: -1px;
    right: 0;
    bottom: 0;
    border-left: 1px solid $dark;
    border-top: 1px solid $dark;
    padding: 6px 4px;

    p {
      text-align: center;
      margin-bottom: 0;
      font-size: 12px;
    }

    @include for-phone-only() {
      width: 100%;
      bottom: -1px;
      border-right: 1px solid #000;
    }
  }
}
