/*! Spectre.css | MIT License | github.com/picturepan2/spectre */

// JUSTFIX: we manually copied over these files from node_modules and changed
// all the rem units for 16px base font size instead of 10px, so that WOW aligns
// with tenant platform and component-library. We were using version 0.0.2

// Include our variables to overwrite the default ones
@import "styles/_vars.scss";
@import "styles/_button.scss";
@import "styles/_modal.scss";

@import "styles/spectre/spectre.scss";
@import "styles/spectre/spectre-icons.scss";

// various overwrites
html {
  font-size: 16px;
}

a {
  text-decoration: underline;
  color: darken($justfix-blue, 10%);
}

a:focus,
.form-input:focus,
.btn:focus {
  // @include control-shadow($gray);
  box-shadow: 0 0 0 0.06rem fade-in($gray-light, 0.15);
  border-color: $gray-dark;
}

.menu {
  box-shadow: 0 0.06rem (0.06rem+0.06rem) * 2 fade-in($gray-light, 0.3);
}

p {
  line-height: 1.4;
}

b,
.text-bold {
  font-weight: bold;
  color: #000;
}
a.text-bold {
  color: darken($justfix-blue, 10%);
}
.text-light {
  color: lighten($dark, 35%);
}
.text-dark {
  color: $dark;
}

.text-justfix {
  color: $justfix-blue;
  a {
    color: darken($justfix-blue, 10%);
  }
}
.text-danger {
  color: red;
}
.text-warning {
  color: $error;
}

sup .tooltip:after {
  font-size: 100%;
  line-height: 1.2;
}

.d-hide {
  display: none;
}

// .btn:not(.btn-link) {
//   border: 1px solid $dark;
//   background-color: $gray-light;
//   box-shadow: inset -1px -1px 0px 0px $gray,
//               inset 2px 2px 0px 0px lighten($gray-light, 10%);
//   transition: none;
//
//   &:hover {
//     color: #454d5d;
//     background-color: darken($gray-light, 15%);
//     box-shadow: inset -1px -1px 0px 0px darken($gray, 10%),
//                 inset 2px 2px 0px 0px $gray-light;
//   }
//
//   &:active {
//     color: #fff;
//     background-color: darken($gray-light, 40%);
//     box-shadow: inset 1px 1px 0px 0px darken($gray, 35%);
//   }
// }

.col-auto {
  flex: 0 0 auto;
  max-width: none;
  width: auto;
}
.col-mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.col-ml-auto {
  margin-left: auto;
}
.col-mr-auto {
  margin-right: auto;
}

// Core variables and mixins
// @import 'styles/spectre/src/_variables.scss';
//
// @import 'styles/spectre/src/_mixins.scss';
//
// // Reset and dependencies
// @import 'styles/spectre/src/_normalize.scss';
// @import 'styles/spectre/src/_base.scss';
//
// // Core classes
// @import 'styles/spectre/src/_typography.scss';
// // @import 'styles/spectre/src/_asian.scss';
// @import 'styles/spectre/src/_tables.scss';
// @import 'styles/spectre/src/_buttons.scss';
// @import 'styles/spectre/src/_forms.scss';
// @import 'styles/spectre/src/_labels.scss';
// @import 'styles/spectre/src/_codes.scss';
// @import 'styles/spectre/src/_media.scss';
//
// // Layout
@import "styles/spectre/src/_layout.scss";
// @import 'styles/spectre/src/_navbar.scss';
// @import 'styles/spectre/src/_panels.scss';
// @import 'styles/spectre/src/_empty.scss';
//
// // Components
// @import 'styles/spectre/src/_autocomplete.scss';
// @import 'styles/spectre/src/_avatars.scss';
// @import 'styles/spectre/src/_badges.scss';
// @import 'styles/spectre/src/_bars.scss';
// @import 'styles/spectre/src/_cards.scss';
// @import 'styles/spectre/src/_chips.scss';
// @import 'styles/spectre/src/_dropdowns.scss';
// @import 'styles/spectre/src/_menus.scss';
// @import 'styles/spectre/src/_modals.scss';
// @import 'styles/spectre/src/_navigation.scss';
// @import 'styles/spectre/src/_popovers.scss';
// @import 'styles/spectre/src/_steps.scss';
// @import 'styles/spectre/src/_tiles.scss';
// @import 'styles/spectre/src/_toasts.scss';
// @import 'styles/spectre/src/_tooltips.scss';
// @import 'styles/spectre/src/_icons.scss';
//
// // Utility classes
// @import 'styles/spectre/src/_animations.scss';
@import "styles/spectre/src/_utilities.scss";
