/*! Spectre.css | MIT License | github.com/picturepan2/spectre */

// Include our variables to overwrite the default ones
@import 'styles/_vars.scss';
@import 'styles/_button.scss';

@import 'node_modules/spectre.scss/spectre.scss';

// various overwrites
a {
  text-decoration: underline;
  color: darken($justfix-blue, 10%);
}

a:focus, .form-input:focus, .btn:focus,  {
  // @include control-shadow($gray);
  box-shadow: 0 0 0 .1rem fade-in($gray-light, .15);
}

.menu {
  box-shadow: 0 .1rem (.1rem+.1rem)*2 fade-in($gray-light, .30);
}

p {
  line-height: 1.4;
}

b, .text-bold {
  font-weight: bold;
  color: #000;
}
a.text-bold {
  color: darken($justfix-blue, 10%);
}
.text-light {
  color: lighten($dark, 35%);
}

.text-justfix {
  color: $justfix-blue;
  a {
    color: darken($justfix-blue, 10%);
  }
}
.text-danger {
  color: red;
}
.text-warning {
  color: $error;
}

sup .tooltip:after {
  font-size: 100%;
  line-height: 1.2;
}

// .btn:not(.btn-link) {
//   border: 1px solid $dark;
//   background-color: $gray-light;
//   box-shadow: inset -1px -1px 0px 0px $gray,
//               inset 2px 2px 0px 0px lighten($gray-light, 10%);
//   transition: none;
//
//   &:hover {
//     color: #454d5d;
//     background-color: darken($gray-light, 15%);
//     box-shadow: inset -1px -1px 0px 0px darken($gray, 10%),
//                 inset 2px 2px 0px 0px $gray-light;
//   }
//
//   &:active {
//     color: #fff;
//     background-color: darken($gray-light, 40%);
//     box-shadow: inset 1px 1px 0px 0px darken($gray, 35%);
//   }
// }



.btn:not(.btn-link) {
  @include button();

  padding: 0.7rem .8rem;
  height: auto;
}

.btn.btn-primary {
  background-color: $gray-dark;
  box-shadow: inset -1px -1px 0px 0px $dark,
              inset 2px 2px 0px 0px lighten($gray-dark, 10%);

  &:hover {
    color: #fff;
    background-color: darken($gray-dark, 15%);
    box-shadow: inset -1px -1px 0px 0px darken($dark, 10%),
                inset 2px 2px 0px 0px $gray-dark;
  }

  &:active {
    color: #fff;
    background-color: darken($gray-dark, 15%);
    box-shadow: inset 1px 1px 0px 0px darken($dark, 20%);
  }
}

.btn.btn-justfix {
  color: #fff;
  background-color: $justfix-blue;
  box-shadow: inset -1px -1px 0px 0px darken($justfix-blue, 10%),
              inset 2px 2px 0px 0px lighten($justfix-blue, 5%);

  &:hover {
    color: #fff;
    background-color: darken($justfix-blue, 5%);
    // box-shadow: inset -1px -1px 0px 0px darken($dark, 10%),
    //             inset 2px 2px 0px 0px $gray-dark;

    box-shadow: inset -1px -1px 0px 0px darken($justfix-blue, 15%),
                inset 2px 2px 0px 0px $justfix-blue;
  }

  &:active {
    color: #fff;
    background-color: darken($justfix-blue, 10%);
    box-shadow: inset 1px 1px 0px 0px darken($justfix-blue, 20%);
  }
}

.col-auto {
  flex: 0 0 auto;
  max-width: none;
  width: auto;
}
.col-mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.col-ml-auto {
  margin-left: auto;
}
.col-mr-auto {
  margin-right: auto;
}

// Core variables and mixins
// @import 'node_modules/spectre.scss/src/_variables.scss';
//
// @import 'node_modules/spectre.scss/src/_mixins.scss';
//
// // Reset and dependencies
// @import 'node_modules/spectre.scss/src/_normalize.scss';
// @import 'node_modules/spectre.scss/src/_base.scss';
//
// // Core classes
// @import 'node_modules/spectre.scss/src/_typography.scss';
// // @import 'node_modules/spectre.scss/src/_asian.scss';
// @import 'node_modules/spectre.scss/src/_tables.scss';
// @import 'node_modules/spectre.scss/src/_buttons.scss';
// @import 'node_modules/spectre.scss/src/_forms.scss';
// @import 'node_modules/spectre.scss/src/_labels.scss';
// @import 'node_modules/spectre.scss/src/_codes.scss';
// @import 'node_modules/spectre.scss/src/_media.scss';
//
// // Layout
// @import 'node_modules/spectre.scss/src/_layout.scss';
// @import 'node_modules/spectre.scss/src/_navbar.scss';
// @import 'node_modules/spectre.scss/src/_panels.scss';
// @import 'node_modules/spectre.scss/src/_empty.scss';
//
// // Components
// @import 'node_modules/spectre.scss/src/_autocomplete.scss';
// @import 'node_modules/spectre.scss/src/_avatars.scss';
// @import 'node_modules/spectre.scss/src/_badges.scss';
// @import 'node_modules/spectre.scss/src/_bars.scss';
// @import 'node_modules/spectre.scss/src/_cards.scss';
// @import 'node_modules/spectre.scss/src/_chips.scss';
// @import 'node_modules/spectre.scss/src/_dropdowns.scss';
// @import 'node_modules/spectre.scss/src/_menus.scss';
// @import 'node_modules/spectre.scss/src/_modals.scss';
// @import 'node_modules/spectre.scss/src/_navigation.scss';
// @import 'node_modules/spectre.scss/src/_popovers.scss';
// @import 'node_modules/spectre.scss/src/_steps.scss';
// @import 'node_modules/spectre.scss/src/_tiles.scss';
// @import 'node_modules/spectre.scss/src/_toasts.scss';
// @import 'node_modules/spectre.scss/src/_tooltips.scss';
//
// // Utility classes
// @import 'node_modules/spectre.scss/src/_animations.scss';
// @import 'node_modules/spectre.scss/src/_utilities.scss';
