@import "_vars.scss";

.user-type-container {
  display: flex;
  flex-direction: column;

  .jfcl-radio-button__checkmark {
    background-color: white;
  }

  .jfcl-radio-button:last-child {
    margin-bottom: 0;
  }

  .jfcl-text-input {
    margin: 0.5rem 0 0;
    label {
      display: none;
    }
  }
  input[type="text"] {
    margin-left: 1.75rem;
    max-width: stretch;
  }

  #input-field-error {
    display: flex;
    align-items: center;
    font-size: 0.8125rem;
    color: #ba4300;
  }
}
