@import "_vars.scss";

.subscriptions-container {
  .subscription-field,
  .unsubscribe-all-field {
    display: flex;
    border-top: 1px solid #c5ccd1; // new grey in figma, unnamed
    padding: 1rem 0;
  }
  .unsubscribe-all-field {
    justify-content: end;
    button {
      font-size: 1rem;
      text-decoration: none;
    }
  }

  a.subscription-address {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: $justfix-black;
    cursor: pointer;
    font-weight: 600;
  }

  a.subscription-address:hover {
    text-decoration: none;
  }

  .street-address {
    text-transform: capitalize;
    font-size: 1.125rem;
  }
}

.settings-no-subscriptions {
  padding: 1.6rem;
  background-color: $justfix-grey-50;
  border-radius: 4px;
}

.settings-contact {
  margin-bottom: 1.5rem;
  text-align: center;
}
