@import "_vars.scss";
@import "_typography.scss";

.user-type-container {
  display: flex;
  flex-direction: column;

  .jfcl-radio-button__label {
    @include wow-body-standard;
  }

  .jfcl-radio-button__checkmark {
    background-color: white;
  }

  .jfcl-text-input {
    label {
      display: none;
    }
  }
  input[type="text"] {
    margin: 0 1.75rem 0 1.75rem;
    font-size: 1rem; // below 16px zooms on mobile
    @include wow-body-standard;
  }

  #input-field-error {
    display: flex;
    align-items: center;
    font-size: 0.8125rem;
    color: #ba4300;
  }
}
