@import "_vars.scss";

.subscriptions-container {
  .subscription-field,
  .unsubscribe-all-field {
    display: flex;
    border-top: 1px solid #c5ccd1; // new grey in figma, unnamed
    padding: 1rem 0;
  }
  .unsubscribe-all-field {
    justify-content: end;
    button {
      font-size: 1rem;
      text-decoration: none;
    }
  }
  &.building-subscriptions-container {
    margin-bottom: 3rem;
  }
  .subscription-district {
    margin: 0 1.5rem 0 0;
    width: -webkit-fill-available;
  }
  a.subscription-address {
    display: flex;
    margin-right: auto;
    flex-direction: column;
    color: $justfix-black;
    cursor: pointer;
  }
  a.subscription-address:hover {
    text-decoration: none;
  }
  .subscription-district,
  a.subscription-address {
    font-size: 1rem;
    font-weight: 500;
  }
}

.settings-callout {
  padding: 1.6rem;
  background-color: $justfix-grey-50;
  border-radius: 4px;
}

.settings-contact {
  margin-bottom: 1.5rem;
  text-align: center;
}
