@import "./vars";

.VerifyEmailPage {
  .success-message {
    text-align: center;
    color: $justfix-green;
    font-size: 20px;
    margin-bottom: 1rem;
    svg {
      margin-right: 1rem;
    }
  }
  .send-new-link-container {
    justify-content: center;
    margin-top: 2rem;
  }
}
